.row
    .col-5
        p.mb-0.font-weight-bold         
            i.text-primary.mdi.mr-2(aria-hidden='true' class=feature.icon)
            | #{feature.name}:
    .col-7
        p.text-small.mb-0 #{feature.value} 

-feature = {} 