.card.border-0.mb-3
    #headingOne.card-header.text-center.border-top-5-primary.border-bottom-0
            h5.text-uppercase.mb-0
                button.btn.btn-link.text-white(data-toggle='collapse', data-target='#job-teaching-details-collapse', aria-expanded='true', aria-controls='job-teaching-details-collapse') 
                    //-   i.mdi.mdi-star(aria-hidden='true')
                    | Teaching Details
    #job-teaching-details-collapse.collapse(aria-labelledby='headingOne', data-parent='#accordion')
        if job && job.teachingDetails
            .row.pt-3
                .col-12.mb-5

                    .row
                        .col-5
                            p.mb-0.font-weight-bold         
                                i.text-lightgreen.mdi.mdi-school.mr-2(aria-hidden='true')
                                | Institution
                        .col-7
                            p.mb-0 #{job.teachingDetails.institution}

                    hr.my-2

                    .row
                        .col-5
                            p.mb-0.font-weight-bold         
                                i.text-lightgreen.mdi.mdi-briefcase.mr-2(aria-hidden='true')
                                | Weekly workload
                        .col-7
                            p.mb-0 #{job.teachingDetails.weeklyLoad}

                    hr.my-2

                    .row
                        .col-5
                            p.mb-0.font-weight-bold         
                                i.text-lightgreen.mdi.mdi-account-multiple.mr-2(aria-hidden='true')
                                | Class Size
                        .col-7
                            p.mb-0 #{job.teachingDetails.classSize}

                    hr.my-2

                    .row
                        .col-5
                            p.mb-0.font-weight-bold 
                                i.text-lightgreen.mdi.mdi-account-box.mr-2(aria-hidden='true')
                                | Student Age Group
                        .col-7
                            p.mb-0 #{job.teachingDetails.ageGroup}

//- .row
//-     .col-auto
//-         a.collapse-link(data-toggle='collapse', href='#job-teaching-details-collapse', role='button', aria-expanded='false', aria-controls='job-teaching-details-collapse')
//-             h4.font-weight-bold.text-dark Teaching Details      
//-     .col.text-right
//-         h1
//-             i#job-teaching-details-collapse-chevron.mdi.mdi-chevron-down(aria-hidden='true') 
//- hr.mt-0
