.card.border-0.mb-3

    -var section = {label:'Benefits', collapsible: 'job-benefits-collapse'}
    include job-section-details

    #job-benefits-collapse.collapse(aria-labelledby='headingOne', data-parent='#accordion')
        if job && job.benefits
            .row.pt-3
                .col-12.mb-5

                    -var feature = {name:'Accomodation', value:job.benefits.accomodation, icon:'mdi-home'}
                    include benefit-table-row

                    hr.my-2

                    -var feature = {name:'Airfare', value:job.benefits.airfare, icon:'mdi-airplane'}
                    include benefit-table-row

                    hr.my-2

                    -var feature = {name:'Assistant', value:job.benefits.teachingAssistant, icon:'mdi-account-check'}
                    include benefit-table-row

                    hr.my-2

                    -var feature = {name:'Vacation Days', value:job.benefits.vacationDays, icon:'mdi-beach'}
                    include benefit-table-row
