.card.border-0.mb-3

    -var section = {label:'Job Details', collapsible: 'job-details-collapse'}
    include job-section-details

    #job-details-collapse.collapse.show(aria-labelledby='headingOne', data-parent='#accordion')
        if job && job.contractDetails
            .row.pt-3
                .col-12.mb-5
                    if(job.school)
                        a.mb-2(href='/school/' + job.school._id)  
                            i.text-primary.mdi.mdi-school.mr-2(aria-hidden='true')
                            | #{job.school.name}
                        hr.my-2
                    
                    -var feature = {name:'Location', value: job.province.name + ' - ' + jadefunctions.capitalize(job.city.pinyinName), icon:'mdi-map-marker'}
                    include benefit-table-row

                    hr.my-2

                    -var feature = {name:'Start Date', value: moment(job.contractDetails.startDate).format("MMMM Do YYYY"), icon:'mdi-calendar'}
                    include benefit-table-row

                    hr.my-2

                    -var feature = {name:'Salary', value: job.contractDetails.salaryLower + ' - ' + job.contractDetails.salaryHigher + ' CNY/Month', icon:'mdi-currency-jpy'}
                    include benefit-table-row
                    
                    hr.my-2

                    -var feature = {name:'Contact', value: job.email, icon:'mdi-email'}
                    include benefit-table-row


