.card.border-0.mb-3

    -var section = {label:'Teaching Details', collapsible: 'job-teaching-details-collapse'}
    include job-section-details

    #job-teaching-details-collapse.collapse(aria-labelledby='headingOne', data-parent='#accordion')
        if job && job.teachingDetails
            .row.pt-3
                .col-12.mb-5

                    -var feature = {name:'Institution', value: job.teachingDetails.institution, icon:'mdi-school'}
                    include benefit-table-row

                    hr.my-2

                    -var feature = {name:'Weekly workload', value:job.teachingDetails.weeklyLoad, icon:'mdi-briefcase'}
                    include benefit-table-row

                    hr.my-2

                    -var feature = {name:'Class Size', value: job.teachingDetails.classSize, icon:'mdi-account-multiple'}
                    include benefit-table-row

                    hr.my-2

                    -var feature = {name:'Student Age Group', value: job.teachingDetails.ageGroup, icon:'mdi-account-box'}
                    include benefit-table-row

