.col-lg-8.my-5
    .row
        .col-lg-6.col-sm-6
            a.btn.btn-lg.btn-block.btn-primary.ml-0(href='/search')
                i.text-white.mdi.mdi-arrow-left.mr-2(aria-hidden='true')
                | Job board
        .col-lg-6.col-sm-6
            a.btn.btn-lg.btn-block.btn-primary-outline.btn-outline-primary(href='/job/apply/' + job.url) Apply Now!