#headingOne.card-header.text-center.border-top-primary-5.border-radius-5
    h5.text-uppercase.mb-0
        button.btn.btn-link.text-dark(data-toggle='collapse', data-target='#' + section.collapsible, aria-expanded='true', aria-controls=section.collapsible) 
            | #{section.label}