nav(aria-label='breadcrumb')
  ol.bg-inherit.breadcrumb.mb-0.pl-0
    i.text-lightgreen.mdi.mdi-map-marker.mr-2(aria-hidden='true')
    li.breadcrumb-item
      a.text-lightgreen(href='/') Home
    li.breadcrumb-item
      a.text-lightgreen(href='/search') Jobs
    li.breadcrumb-item.active(aria-current='page')
      a.text-lightgreen(href='/job/5b0f19fec107b50e60c4e35d') #{job.title}