extends ../../layout
block content

    .container-fluid.bg-white.py-3
        .container
            .row
                //- .col-lg-8
                    //- include job-map-breadcrumb 
                    //- include job-page-top-actions
                .col-lg-8.mt-5
                    include ../job-tags
                .col-lg-12.mb-3
                    h1.display-2.font-weight-bold #{job.title}

        .row
            .col-lg-10.px-0.col-sm-12.mb-3
                img.mb-3.img-fluid(src=pictureInfo.returnLarge(job.pictureUrl), alt="Teach English Overseas")

        .container.pb-5
            .row
                .col-lg-4.col-sm-12.mb-3
                    include job-contract-details
                    include job-benefits
                    include job-teaching-details
                .col-lg-8.col-sm-12.mb-3
                    .show-more-container
                        h5.mb-3.font-weight-bold #{job.kicker}
                        p.content-pre-wrap !{job.description}
                    .show-more-link.my-3
                        a(href='#') Show More
                    .show-less-link.d-none.mb-3
                        a(href='#') Show Less
                    include job-page-top-actions

    .container-fluid.bg-light-secondary
        .container  
            .row
                .col-auto
                    a.collapse-link(data-toggle='collapse', href='#location-collapse', role='button', aria-expanded='false', aria-controls='location-collapse')
                        h1.text-muted.my-5.font-weight-bold 
                            | Location      
                            i#location-collapse-chevron.mdi.mdi-chevron-up(aria-hidden='true')
                         
        .row.collapse.show#location-collapse
            .col-lg-12.mx-0.px-0
                -var lat = job.city.x
                -var long = job.city.y
                -var address = job.city.pinyinName
                include ../../utils/google-maps

    .container    
        .row.my-5
            .col-lg-12
                h1.text-muted.mb-5.mt-1.font-weight-bold Featured Jobs
                include ../featured-jobs