// Custom.scss
// Option A: Include all of Bootstrap
// Your variable overrides
$slw-primary: #447C1D;
$slw-lightgreen: #95D469;
$slw-primary-darker: rgb(32, 65, 8);
$slw-danger: #ff4136;
$slw-secondary: #5bc0de;
$slw-secondary-darker: #3691ad;
$slw-cool-purple: #9d99c1;
$slw-light-secondary: #d8d8d8;
$slw-dark: #1f1f1f;
$slw-darker: #151515;
$enable-gradients: false;
$enable-shadows: true;
$standard-height: 190px;
$landing-page-height: 560px;
$school-header-height: 540px;
$review-image-dimension: 60px;
$image-container-height: 12rem;
// Rating colors
$rating-great:#47a347;
$rating-good: #76bf33;
$rating-medium: #e6e13d;
$rating-bad: #c73d13;
$theme-colors: ( "primary": $slw-primary, "primary-darker": $slw-primary-darker, "lightgreen": $slw-lightgreen, "secondary": $slw-secondary, "cool-purple": $slw-cool-purple, "danger": $slw-danger, "slw-green": $slw-primary, "light-secondary": $slw-light-secondary, "dark": $slw-dark, "darker": $slw-darker, "rating-great": $rating-great, "rating-good": $rating-good, "rating-medium": $rating-medium, "rating-bad": $rating-bad);
@import "node_modules/bootstrap/scss/bootstrap";
// CORE
// Bootstrap & MDB
@import "node_modules/mdbootstrap/scss/core/bootstrap/functions";
@import "node_modules/mdbootstrap/scss/core/bootstrap/variables";
@import "node_modules/mdbootstrap/scss/core/mixins";
// @import "node_modules/mdbootstrap/scss/core/colors";
@import "./mdbcolors";
@import "node_modules/mdbootstrap/scss/core/variables";
$link-color: $slw-primary;
@import "node_modules/mdbootstrap/scss/core/global";
@import "node_modules/mdbootstrap/scss/core/helpers";
@import "node_modules/mdbootstrap/scss/core/typography";
@import "node_modules/mdbootstrap/scss/core/masks";
@import "node_modules/mdbootstrap/scss/core/waves";
@import "node_modules/mdbootstrap/scss/free/forms";
@import "node_modules/mdbootstrap/scss/free/animations-basic";
@import "node_modules/mdbootstrap/scss/free/animations-extended";
@import "node_modules/mdbootstrap/scss/free/buttons";
@import "node_modules/mdbootstrap/scss/free/cards";
@import "node_modules/mdbootstrap/scss/free/dropdowns";
@import "node_modules/mdbootstrap/scss/free/navbars";
@import "node_modules/mdbootstrap/scss/free/pagination";
@import "node_modules/mdbootstrap/scss/free/badges";
@import "node_modules/mdbootstrap/scss/free/modals";
@import "node_modules/mdbootstrap/scss/free/carousels";
@import "node_modules/mdbootstrap/scss/free/forms";
@import "node_modules/mdbootstrap/scss/free/input-group";
@import "node_modules/mdbootstrap/scss/free/msc";
@import "node_modules/mdbootstrap/scss/free/footers";
@import "node_modules/mdbootstrap/scss/free/list-group";
@import "node_modules/mdbootstrap/scss/free/tables";
// $primary-color: $slw-primary;
// $error-color:  $slw-danger;
// $success-color:  $slw-primary;
@each $color,
$value in $theme-colors {
  .text-shadow-#{$color} {
    text-shadow: 2px 2px 15px $value;
  }
}

.bg-inherit{
  background-color: inherit;
}

@each $color,
$value in $theme-colors {

  .border-bottom-0 {
    border-bottom: none;
  }
  .border-bottom-1-#{$color} {
    border-bottom: solid 1px $value;
  }
  .border-bottom-2-#{$color} {
    border-bottom: solid 2px $value;
  }
  .border-bottom-3-#{$color} {
    border-bottom: solid 3px $value;
  }
  .border-bottom-5-#{$color} {
    border-bottom: solid 5px $value;
  }

  .border-top-0 {
    border-top: none;
  }
  .border-top-1-#{$color} {
    border-top: solid 1px $value;
  }
  .border-top-2-#{$color} {
    border-top: solid 2px $value;
  }
  .border-top-3-#{$color} {
    border-top: solid 3px $value;
  }
  .border-top-5-#{$color} {
    border-top: solid 5px $value;
  }
}

.no-drop-shadow {
  box-shadow: 0 0 !important;
}

@each $color,
$value in $theme-colors {
  .swatch-#{$color} {
    color: color-yiq($value);
  }
}

.zindex-pop {
  z-index: $zindex-dropdown;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $slw-primary;
}

.text-small {
  font-size: 0.8rem;
}

// Adjusting number of cards per column and deck  
.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

.card-deck {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

/////////////////////////////////////////////////////////////////////////////////////
//PRE HEADER
/////////////////////////////////////////////////////////////////////////////////////
.pre-header {
  padding: 0;
  font-size: 13px;
}

.transparent-black {
  background-color: rgba(0, 0, 0, .5);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .7);
}

////////////////////////////////////////////////////////////////////////////////////////////////
//HOMEPAGE SPLASH LANDING
////////////////////////////////////////////////////////////////////////////////////////////////
.splash {
  min-height: $landing-page-height;
  overflow: hidden;
  position: relative;
  color: #fff;
  text-align: center;
}

.splash .splash-image {
  min-height: $landing-page-height;
  width: 110%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash .splash-image-container {
  min-height: $landing-page-height;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 50px;
  -webkit-filter: brightness(55%);
  filter: brightness(55%);
}

.splash .splash-text {
  margin-top: 17rem;
  position: relative;
}

.splash p {
  font-weight: 400;
}

.splash-carousel {
  height: 500px;
  background-position: center center;
  background-repeat: repeat;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 3px 3px 1000px 0 #000000; // border-radius: 20px;
  top: 0;
  left: 0;
}

.search-navigation-bar {
  position: absolute;
  bottom: 100px;
}

.width100 {
  width: 100%;
}

.search-bar nav {
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 1);
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 1);
}

.search-bar {
  border-radius: 0;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 10px 0px #808080;
  -moz-box-shadow: 0px 0px 10px 0px #808080;
  box-shadow: 0px 0px 10px 0px #808080;
  border-radius: 5px;
}

.search-bar form {
  margin: 10px 0;
  padding-left: 15px;
}

.search-bar .form-group {
  padding: 0 15px 0 0;
}

.img-container {
  height: $standard-height;
}

.img-frame {
  height: $standard-height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eee;
}

//SLIDERS
.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
  background: $slw-primary !important;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  background: $slw-primary !important;
  cursor: pointer;
}

input[type=range]+.thumb {
  background-color: $slw-primary !important;
}

.picker__box .picker__header .picker__date-display .picker__weekday-display {
  background-color: $slw-primary !important;
}

.picker__box .picker__header .picker__date-display {
  background-color: $slw-primary !important;
}

.picker__date-display {
  background-color: $slw-primary !important;
}

.picker__box .picker__table .picker--focused,
.picker__box .picker__table .picker__day--selected,
.picker__box .picker__table .picker__day--selected:hover {
  background-color: $slw-primary !important;
}

.add-photo-container {
  position: relative;
  height: $image-container-height;
}

.absolute {
  position: absolute;
  width: 100%;
}

@import "./typeaheadjs.scss";
.btn {
  padding: .84rem 2.14rem;
  font-size: .81rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; // margin: .375rem;
  border: 0;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word; // color: #fff;
}

.card-text {
  font-size: 0.9rem;
  color: #747373;
}

.card .btn-action {
  margin-top: -1.44rem;
  margin-bottom: -1.44rem;
}

.display-grid {
  display: grid;
}

.btn-floating {
  width: 2.75rem;
  height: 2.75rem; // position: relative;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .22), 0 2px 10px 0 rgba(0, 0, 0, .18);
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
}

.btn-floating i {
  font-size: 1.25rem;
  line-height: 2.75rem;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: $slw-primary;
}

#school-header {
  position: relative;
  min-height: $school-header-height;
}

#jumbotron-background {
  min-height: $school-header-height;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
}

#jumbotron-content {
  position: absolute; // width: 100%;
  left: 0;
  top: 0;
}

.review-image {
  height: $review-image-dimension;
  width: $review-image-dimension;
}

.image-container {
  height: $image-container-height; // background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.image-container-default {
  background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
}

​ .image-container:hover {
  opacity: .8;
}

.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-filter: brightness(25%);
  filter: brightness(25%);
}

.show-more {
  background-color: #82b1ff !important;
}

.show-more:not(.show) {
  background: transparent !important;
}

// Example usage:
@include media-breakpoint-down(md) {
  .display-3 {
    font-size: 2.8rem;
  }
}

.lightbox.no-margin [class*=col-] {
  padding: 0;
}

.lightbox [class*=col-] {
  padding: .5rem;
}

.lightbox figure {
  margin: 0;
  float: left;
}

//STEPPER 
.steps-form {
  display: table;
  width: 100%;
  position: relative;
}

.steps-form .steps-row {
  display: table-row;
}

.steps-form .steps-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 2px;
  background-color: $slw-primary;
}

.steps-form .steps-row .steps-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.steps-form .steps-row .steps-step p {
  margin-top: 0.5rem;
}

.steps-form .steps-row .steps-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.steps-form .steps-row .steps-step .btn-circle {
  width: 70px;
  height: 70px;
  border: 2px solid $slw-primary;
  background-color: white !important;
  color: $slw-primary !important;
  border-radius: 50%;
  padding: 22px 18px 15px 18px;
  margin-top: -22px;
}

.steps-form .steps-row .steps-step .btn-circle:hover {
  border: 2px solid $slw-primary-darker;
  color: $slw-primary-darker !important;
  background-color: white !important;
}

.steps-form .steps-row .steps-step .btn-circle .fa {
  font-size: 1.7rem;
}

.steps-form .steps-row .steps-step .btn-circle.active {
  background-color: $slw-primary !important;
}

.steps-form .steps-row .steps-step .btn-circle.active .fa {
  color: white !important;
}

.md-form input[type=text]+label:after {
  transform: translateY(-140%);
  font-size: 0.8rem;
}

.md-form input[type=text]+label.active:after {
  transform: none !important;
}

.search-nav-form {
  margin-bottom: 0rem;
}

@media (max-width: 760px) {
  .modal-backdrop,
  .side-modal {
    display: block !important;
  }
}

[type=checkbox]:checked+label:before {
  border-color: transparent $slw-primary $slw-primary transparent !important;
}

.chip.chip-md {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
}

.chip.chip-md img {
  height: 42px;
  width: 42px;
}

.chip.chip-lg {
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
}

.chip.chip-lg img {
  height: 52px;
  width: 52px;
}

.classic-tabs li a.active {
  color: $slw-lightgreen;
}