// Second Language World custom.scss

// COLORS
$slw-primary: #95ca6e;
// $slw-secondary: #95ca6e;
$slw-primary-darker: rgb(32, 65, 8);
$slw-danger: #ff4136;
$slw-secondary: lighten(#95ca6e, 5%);
$slw-secondary-darker: #3691ad;
$slw-cool-purple: #9d99c1;
$fcb-blue: #3b5998;
$slw-light-secondary: #d8d8d8;
$slw-light-transparent: rgba(90, 90, 90, 0.5);
$slw-dark: #3c3c3c;
// $slw-dark: #1f1f1f;
$slw-darker: #151515;
$slw-dark-transparent: rgba(23, 23, 23, 0.58);
$slw-pale-gray: #f1f1f1;

// RATING COLOR GRADE
$rating-great:#47a347;
$rating-good: #76bf33;
$rating-medium: #87a56a;
$rating-bad: #68745c;

// BOOTSTRAP VARIABLES
$standard-md-height-pad: 0.7rem;
$standard-md-width-pad: 1.1rem;

$enable-gradients: false;
$enable-shadows: false;
$link-color: $slw-primary;
$card-border-width: 0;
$border-radius-lg: 3px;

// md-sized-stuff
$input-btn-padding-y: $standard-md-height-pad;
$input-btn-padding-x: $standard-md-width-pad;
$input-padding-y: $standard-md-height-pad;
$input-padding-x: $standard-md-width-pad;

//btn-lg
$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 1.5rem;

//form inputs
$input-bg: $slw-pale-gray;
$input-border-width: 0;
$input-disabled-bg: $slw-light-secondary;

// SLW MAGIC DIMENSIONS
$standard-height: 190px;
$landing-page-height: 580px;
$search-landing-page-height: 320px;
$school-header-height: 380px;
$review-image-dimension: 60px;
$image-container-height: 12rem;

$theme-colors: ( "primary": $slw-primary, "primary-darker": $slw-primary-darker, "light-transparent": $slw-light-transparent, "dark-transparent": $slw-dark-transparent, "pale-gray": $slw-pale-gray, "secondary": $slw-secondary, "cool-purple": $slw-cool-purple, "danger": $slw-danger, "slw-green": $slw-primary, "light-secondary": $slw-light-secondary, "dark": $slw-dark, "darker": $slw-darker, "rating-great": $rating-great, "rating-good": $rating-good, "rating-medium": $rating-medium, "rating-bad": $rating-bad, "fcb-blue": $fcb-blue);

@import "node_modules/bootstrap/scss/bootstrap";
@import "./loadingspinner";
@import "./chips";

// Change the chrome yellowish autofill
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px lighten($slw-primary, 25%) inset;
}

.form-group label {
    font-weight: bold;
}

#clear-search{
    cursor:pointer;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

@each $color,
$value in $theme-colors {
    .text-shadow-#{$color} {
        text-shadow: 2px 2px 15px $value;
    }
}

@each $color,
$value in $theme-colors {
    .border-top-#{$color}-5 {
        border-top: solid 5px $value;
    }
}

body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

.overflow-hidden {
    overflow: hidden;
}

.bg-inherit {
    background-color: inherit;
}

.content-pre-wrap {
    white-space: pre-wrap;
}

////////////////////////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: milkshake;
    src: url('/font/Milkshake.otf');
}

.milkshake{
    font-family: milkshake;
}

h1, h2, h3, h4, h5, h6, .btn {
    font-family: 'Raleway', sans-serif;
}

.navbar-light .navbar-nav .nav-item:hover {
    background-color: lighten($color: $slw-primary, $amount: 20%)
}
.navbar-light.transparent .navbar-nav .nav-item:hover {
    background-color: inherit;
}

@include media-breakpoint-down(md) {
    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        font-size:1.3rem;
    }
}
  
@include media-breakpoint-up(lg) {
    // .display-1 {
    //     font-size: 4rem;
    // }
    .display-2 {
        font-size: 3.2rem;
    }
    .display-3 {
        font-size: 2.6rem;
    }
    .display-4 {
        font-size: 2.2rem;
    }
    .img-prompt {
        height: 300px;
    }
    .img-prompt-small {
        height: 60px;
    }
}

@include media-breakpoint-down(md) {
    .display-1 {
        font-size: 4rem;
    }
    .display-2 {
        font-size: 2.6rem;
    }
    .display-3 {
        font-size: 2.2rem;
    }
    .display-4 {
        font-size: 1.8rem;
    }
    .img-prompt {
        height: 200px;
    }
    .img-prompt-small {
        height: 60px;
    }
}

@include media-breakpoint-down(sm) {
    h1 {
        font-size: 1.8rem;
    }
    .display-1 {
        font-size: 2.6rem;
    }
    .display-2 {
        font-size: 1.8rem;
    }
    .display-3 {
        font-size: 1.4rem;
    }
    .display-4 {
        font-size: 1rem;
    }
    .img-prompt{
        height: 150px;
    }
    .img-prompt-small {
        height: 60px;
    }
    .splash-text p {
        font-size: 0.92rem;
    }
}
  



.text-small {
    font-size: 0.8rem;
}

.text-xsmall {
    font-size: 0.6rem;
}
////////////////////////////////////////////////////////////////////////////////////////////////


.zindex-pop {
    z-index: $zindex-dropdown;
}

.hamb-menu {
    color: black;
    font-size: 1.8rem;
}

.transparent .hamb-menu {
    color: white;
}

.navbar {
    box-shadow: none;
    border-bottom: solid 1px $slw-pale-gray;
}

.navbar.navbar-light.main-header.transparent.collapsed .navbar-nav a {
    color: white;
    // font-family: "raleway";
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.50);
    // font-family: "raleway";
}

.navbar.navbar-light.main-header.transparent.collapsed {
    box-shadow: none;
    background-color: transparent;
    border-bottom: none;
    transition: background-color 0.5s linear, border-bottom 0.5s linear;
}

.navbar.navbar-light.main-header.transparent {
    box-shadow: none;
    background-color: white;
    border-bottom: solid 1px $slw-pale-gray;
    transition: background-color 0.5s linear, border-bottom 0.5s linear;
}

.navbar.navbar-light.main-header {
    transition: background-color 0.5s linear, border-bottom 0.5s linear;
}

.nav-bar-slide-in {
    width: 0;
    overflow: hidden;
    transition: width 1s linear;
}

.image-brand {
    width: 120px;
    height: 28px;
    margin: -3px 0 -2px 0;
    display: inline-block;
    background-image: url('/images/logonameBlack.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer .image-brand {
    background-image: url('/images/logonameBlack.svg');
    width: 140px;
    height: 48px;
}

footer hr {
    border-top: 1px solid #e6e6e6;
}

footer label {
    font-size: 0.8rem;
}

footer .form-group {
    margin-top: 0.5rem;
}

footer .form-control {
    color: $slw-darker;
    background-color: $slw-pale-gray;
    border: 1px solid lighten($slw-pale-gray, 25%);
    border-radius: .25rem;
}

footer .form-control:focus {
    color: $slw-darker;
    background-color: $slw-pale-gray;
    border-color: #80d445;
    box-shadow: 0 0 0 0.2rem rgba(68, 124, 29, 0.25);
}

.collapsed.transparent .image-brand {
    background-image: url('/images/logonameWhite.svg');
}

#company-list-collapse.collapse.show {
    display: flex !important;
}

.collapsible .chevron {
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari */
    transform: rotate(20deg);
}

.transparent .image-brand {
    background-image: url('/images/logonameBlack.svg');
}

.step-indicator-lg {
    height: 5rem;
    width: 5rem;
}

.step-indicator-lg h1 {
    font-size: 2.5rem;
}

.step-indicator-md {
    height: 3rem;
    width: 3rem;
}

.step-indicator-sm {
    height: 1.7rem;
    width: 1.7rem;
}

.step.active .step-wrapper {
    background-color: white !important;
}

.z-depth-1,
.jumbotron,
input[type=text].input-alternate,
input[type=password].input-alternate,
input[type=email].input-alternate,
input[type=url].input-alternate,
input[type=time].input-alternate,
input[type=date].input-alternate,
input[type=datetime-local].input-alternate,
input[type=tel].input-alternate,
input[type=number].input-alternate,
input[type=search-md].input-alternate,
input[type=search].input-alternate,
textarea.input-alternate,
.btn,
.btn.disabled:active,
.btn.disabled:focus,
.btn.disabled:hover,
.btn:disabled:active,
.btn:disabled:focus,
.btn:disabled:hover,
.card,
.navbar,
.pagination .page-item.active .page-link,
.badge,
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs,
.modal-dialog.modal-notify .modal-header,
.media .media-left img {
    box-shadow: none;
}

// Adjusting number of cards per column and deck  
.card-columns {
    
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
}

.card-deck {
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
}

.flash-messages-container {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 4rem;
    z-index: 999;
    opacity: 0.8;
}

////////////////////////////////////////////////////////////////////////////////////////////////
//HOMEPAGE SPLASH LANDING
////////////////////////////////////////////////////////////////////////////////////////////////
.splash, .search-splash {
    min-height: $landing-page-height;
    position: relative;
    color: #fff;
    text-align: center;
    margin-top: -4rem;
    padding-top: 4rem; // overflow: hidden;
}

.splash .splash-image, .search-splash .search-splash-image {
    min-height: $landing-page-height;
    width: 110%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block; // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splash .splash-image-container, .search-splash .search-splash-image-container {
    min-height: $landing-page-height;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; // margin-bottom: 50px;
    overflow-x: hidden;
    -webkit-filter: brightness(62%);
    filter: brightness(62%);
}

.splash .splash-text {
    position: relative;
}

.splash p {
    font-weight: 400;
}

.img-container {
    height: $standard-height;
}

.img-frame {
    height: $standard-height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eee;
}

////////////////////////////////////////////////////////////////////////////////////////////////
//SEARCH PAGE SPLASH LANDING
////////////////////////////////////////////////////////////////////////////////////////////////
.search-splash {
    min-height: $search-landing-page-height;
    margin-top: -4rem;
    padding-top: 4rem;
}

.search-splash .search-splash-image {
    min-height: $search-landing-page-height;
}

.search-splash .search-splash-image-container {
    min-height: $search-landing-page-height;
    -webkit-filter: brightness(62%);
    filter: brightness(62%);
}


/************************************************************************
************    SLIDERS
*************************************************************************/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type=range]+.thumb {
    background-color: $slw-primary !important;
}

.add-photo-container {
    position: relative;
    height: $image-container-height;
}

@import "./typeaheadjs.scss";

.btn.btn-primary, .btn.btn-light-transparent {
    color: white;
}

.card-text {
    font-size: 0.9rem;
    color: #747373;
}

.card-text.overflow-3 {
    overflow: hidden;
    height: 65px;
}

.display-grid {
    display: grid;
}

.btn-floating {
    width: 2.75rem;
    height: 2.75rem; // position: relative;
    z-index: 1;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .22), 0 2px 10px 0 rgba(0, 0, 0, .18);
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    margin-top: -1.44rem;
    margin-bottom: -1.44rem;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    line-height: 2.75rem;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: $slw-primary;
}

.dropdown .dropdown-menu .dropdown-item {
    color: black !important;
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: $slw-primary;
    color: white;
}


#school-header {
    position: relative;
    min-height: $school-header-height;
}

#jumbotron-background {
    min-height: $school-header-height;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    background-position: center center;
    background-size: cover;
}

#jumbotron-content {
    position: absolute; // width: 100%;
    left: 0;
    top: 0;
}

.review-image {
    height: $review-image-dimension;
    width: $review-image-dimension;
}

.review-content {
    font-size: 14px;
    word-wrap: break-word;
}

.card-image-container {
    height: 12rem;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

@include media-breakpoint-up(lg) {
    .card-image-container {
        height: 100%;
    }
}

.image-container {
    height: $image-container-height; // background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.image-container-default {
    background-image: url("https://cdn3.volusion.com/tyzky.ynqff/v/vspfiles/photos/432-2.jpg");
    border-radius: 5px;
}

​ .image-container:hover {
    opacity: .8;
}

.blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-filter: brightness(25%);
    filter: brightness(25%);
}

.show-more {
    background-color: #82b1ff !important;
}

.show-more:not(.show) {
    background: transparent !important;
}

.description {
    word-wrap: break-word; // color: #fff;
}

.lightbox.no-margin [class*=col-] {
    padding: 0;
}

.lightbox [class*=col-] {
    padding: .5rem;
}

.lightbox figure {
    margin: 0;
    float: left;
}

.form-group {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

hr {
    border-bottom: dotted 0 $slw-primary;
}

/****************************************
    NOUISLIDER
******************************************/

fieldset {
    margin: 1em 0;
}

fieldset.nouirange {
    border: none;
    .noUi-horizontal {
        height: 4px;
        .noUi-connects {
            background: #d3d3d3;
            .noUi-connect {
                background: $slw-primary;
            }
        }
    }
    .noUi-handle {
        height: 1.2em !important;
        width: 1.2em !important;
        top: -.6em !important;
        right: -.6em !important;
        border-radius: 100%;
        background: $slw-primary;
        box-shadow: none;
        border: 1px solid $slw-primary;
        &:before,
        &:after {
            display: none;
        }
    }

    .noUi-value-horizontal {
        transform: translate(-50%,110%);
    }

    .noUi-value {
        font-size: 10px;
    }
    
    .noUi-target {
        background: inherit;
        border-radius: 4px;
        border: none;
        box-shadow: 0;
    }

    .noUi-connect {
        height:105%
    }
}

.job-filter.collapsed {
    color: #6c757d;
}

.collapsing {
    transition: height 0.1s;
}

.search-nav-form {
    margin-bottom: 0rem;
}

@media (max-width: 760px) {
    .modal-backdrop,
    .side-modal {
        display: block !important;
    }
}

[type=checkbox]:checked+label:before {
    border-color: transparent $slw-primary $slw-primary transparent !important;
}

.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

.chip.chip-md img {
    height: 42px;
    width: 42px;
}

.chip.chip-lg {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}

.chip.chip-lg img {
    height: 52px;
    width: 52px;
}

@media (min-width: 62em) {
    .classic-tabs li:first-child {
        margin-left: inherit;
    }
}

@media (max-width: 576px) {
    .classic-tabs li a {
        padding: 20px 10px;
        font-size: 0.8rem;
    }
}

.classic-tabs li a.active {
    color: $slw-primary;
}

$slw-hollow-input: #f5f5f5;
$slw-inset-dark: #ebebeb;
.form-control.search-filter {
    padding: .375rem .75rem;
    font-size: 1rem;
    height: 3rem;
    line-height: 2;
    color: black;
    background-color: $slw-hollow-input;
    background-clip: padding-box;
    border: 0;
    box-shadow: 0; // -moz-box-shadow:    inset 0 0 30px $slw-inset-dark;
    //  -webkit-box-shadow: inset 0 0 30px $slw-inset-dark;
    //  box-shadow:         inset 0 0 30px $slw-inset-dark;
}

.form-control.search-filter:focus {
    background-color: white;
}

.custom-select {
    height: 3rem;
    line-height: 2;
    color: black;
    background-color: $slw-hollow-input;
    border: 0;
    box-shadow: 0; // -moz-box-shadow:    inset 0 0 20px $slw-inset-dark;
    //  -webkit-box-shadow: inset 0 0 20px $slw-inset-dark;
    //  box-shadow:         inset 0 0 20px $slw-inset-dark;
}

.custom-select:focus {
    background-color: white;
}

.form-control.invalid {
    border: solid 1px red;
}

.invalid + label { border: solid 1px red; }

// .form-control.valid {
//     border: solid 1px green;
// }

.show-more-container {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.55s ease-out;
}

.show-more-container.expand {
    max-height: 9000px;
    overflow: auto;
    transition: max-height 0.55s ease-in;
}

.rating-bar-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8px;
    border-radius: 2px 5px 5px 2px !important;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #d6d6d6;
    transition: width 0.6s ease; // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.img-overlay {
    position: relative;
    height: 230px; // max-width: 100%;
    background-size: cover;
    background-position: center; // height: auto;
    transform-origin: 50% 50%;
    transition: transform 0.3s linear;
    overflow: hidden;
}

.img-caption {
    position: absolute;
    height: 100%;
    top: 145px;
    left: 0px;
    background-color: rgba(23, 23, 23, 0.38);
    transition: top 0.6s ease;
}

.img-caption.fixed {
    top: 0;
    background-color: rgba(23, 23, 23, 0.28);
}

.img-overlay:hover {
    transform: scale(1.01) rotate(0.1deg);
}

.img-overlay:hover > .img-caption { 
    top: 0px;
    background-color: rgba(23, 23, 23, 0.68);
    transition: top 0.6s ease, background-color 0.6s ease; 
}

.bg-transparent {
    background-color: rgba(23, 23, 23, 0.58);
}

.border-radius-2 {
    border-radius: 2px !important;
}

.border-radius-5 {
    border-radius: 5px !important;
}

.border-radius-top-5 {
    border-radius: 5px 5px 0 0 !important;
}

.border-radius-circle {
    border-radius: 50%;
}

.img.border-radius-circle {
    height: 60px;
    width: 60px;
    background-size: cover;
}

.text-fcb-blue {
    color: #3b5998;
}

.mce-panel {
    border-radius: 5px;
    border: 1px solid #f3f3f3 !important;
    /* border: 0 solid #c5c5c5; */
    background-color: #f3f3f3 !important;
}

.mce-tinymce {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.mce-top-part::before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.mce-panel.invalid {
    border: 0 solid $slw-danger;
}

.mce-panel.valid {
    border: 0 solid $slw-primary;
}

.article-body {
    line-height: 30px;
    font-size: 1.15rem;
}

.article-body:first-letter {
    font-family: Times, 'Times New Roman', Tahoma;
    font-size: 4.1em;
    float: left;
    margin-top: .25em;
    margin-right: 0.4rem;
}

.article-body h2 {
    margin: 2rem 0;
    font-weight: bold;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.sticky-under-nav {
    top:70px;
    z-index: 1;
}

#map {
    height:24rem;
}

.overflow-scroll {
    overflow-x: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.overflow-scroll::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.arrow-section {
    position: relative;
}

.arrow-section:before {
    content: "";
    z-index: 1;
    position: absolute;
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    background-color: inherit;
    margin-top: 28px;
    margin-left: -20px;
    top: 100%;
    left: 50%;
    border-left-width: 0;
    border-top-width: 0;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.list-display li{
    margin-bottom:.4rem;
    font-size:1.1rem;
}

.list-checkmarks {
    padding-left:1.5rem;
}

.list-checkmarks li {
    list-style-type:none;
    padding-left:1rem;
}
.list-checkmarks li:before {    
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F790";
    margin: 0 10px 0 -35px;
    color: $slw-primary;
}

.list-checkmarks-thumbs li:before {    
    content: "\F513";
}

.list-checkmarks-pointers li:before {    
    content: "\F1B7";
}

.vp-x {
    font-size: 22px;
    position: absolute;
    top: 13px;
    right: 30px;
    cursor: pointer;
}
