span.twitter-typeahead {
    
    display: block !important;

    .input-group & {
        display: flex !important;
        align-items: center;
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        .tt-menu,
        .tt-hint,
        .tt-input {
            width: 100%;
        }
    }
    .typeahead-scrollable{
        font-size: 28px;
        font-family: 'Roboto Black';
        font-weight: bolder;
    }
    .typeahead-scrollable:focus {
        // color: #495057;
        background-color: #f1f1f1;
        border: none;
        outline: 0;
        box-shadow: none
    }
}

#typeahead-target {

    display: none;

    .typeahead-header {
        background-color: #ead8d8;
        color: black;
        text-transform: capitalize;
        line-height: 3rem;
        font-family: 'Roboto Black';
        font-size: 20px;
    }
    
    .tt-menu {
        @extend .dropdown-menu;
        width: 100%;
        padding: 0 0;
        max-height: 20rem;
        overflow-y: auto;
    }
    .tt-suggestion {
        @extend .dropdown-item;
        padding: .25rem 1rem;
        line-height: 1.7rem;
        overflow-x: hidden;
        cursor: pointer;
    }

    .tt-suggestion.tt-cursor {
        @extend .dropdown-item.active;
        background-color: darken($color: $slw-primary, $amount: 15)
    }

    .typeahead-footer {
        color:#333;
        margin-bottom: 1rem;
    }
}

#typeahead-target.tt-open {
    display:block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
