-fileInput.progressId = 'progress-' + fileInput.id
-fileInput.urlId = 'url-' + fileInput.id
-fileInput.labelFeedback = 'fdb-label-' + fileInput.id
-fileInput.previewId = 'preview-' + fileInput.id
-fileInput.accept = ' image/*'

.col-lg-6
        .image-container.image-container-default.bg-primary(id=fileInput.previewId)
.col-lg-6
        include ./file-uploader