#noSchoolGroup.form-group.d-none
  .form-check
    if searchInfo.city
      input#noSchool.form-check-input(type='checkbox', data-toggle='collapse', data-target='#addSchoolCollapsible')
    else
      input#noSchool.form-check-input(type='checkbox', data-toggle='collapse', data-target='#addSchoolCollapsible' disabled)
    label.form-check-label(for='noSchool') Create school with this name (please specify province and city)

#addSchoolCollapsible.collapse
  .card.card-body.my-3
    include add-school-review-form
