- var username = 'username'
- var averageRating = jadefunctions.roundToPoint5(review.average_rating);
block content
      .row.mb-3.justify-content-start.align-items-center
            .col-auto
                include review-username
      hr(style='margin-left:-15px; margin-right:-15px;')
      .row.mb-3
            .col-12
                  .review-content #{review.comment}
      .row.mb-3
            .card-body
                  -var breakdownSm = true;
                  include ../school/schoolbreakdown

