- var username = 'username'
- var averageRating = jadefunctions.roundToPoint5(review.average_rating);
.user-information.border-bottom-0.bg-transparent.pb-0
      .row.align-items-center
            .col-auto
                h6
                    include review-username
.py-0
      hr.mt-0
      if review.comment != ""
            .review-content !{review.comment}
      else
            -var singleReview = true
            -var small = true
            include ../ratingcardbody
.border-top-0.bg-transparent
      //- include ../helpfulshort
      button.col-auto.btn.btn-sm.btn-link.readmore.pl-0.ml-0(type='button', data-toggle="modal", data-target="#slw-modal", data-reviewuser=username, data-reviewid=review._id) 
            //- i.mdi.mdi-arrange-bring-forward(aria-hidden='true')
            |  Read More 