- var username = 'username'
- var averageRating = jadefunctions.roundToPoint5(review.average_rating);
block content
      .row.mb-3.justify-content-start.align-items-center
            .col-auto
                  if review.user && !review.user.anonymous
                        if review.user.firstName && review.user.lastName
                              -username = review.user.firstName + review.user.lastName
                        else
                              -username = review.user.username
                        a.name(href='/user/' + review.user._id) #{username}
                  else 
                        a.name(href='#') An SLWorld User
                  if Date.parse(review.dateEmployed) != 0 && Date.parse(review.dateReleased) != 0
                        .card-subtitle.text-muted.mt-0 #{moment(review.dateEmployed).format("MMM YYYY")+" to " + moment(review.dateReleased).format("MMM YYYY")}
                  else
                        .card-subtitle.text-muted.mt-0 Posted in #{moment(review.dateCreated).format("MMM YYYY")}
                  if review.average_rating
                        include ../genrating
      hr(style='margin-left:-15px; margin-right:-15px;')
      .row.mb-3
            .col-12
                  .review-content #{review.comment}
      .row.mb-3
            .card-body
                  -var breakdownSm = true;
                  include ../school/schoolbreakdown

