extends ../layout
block content
      .container
            .py-5
                  h1.display-4.font-weight-bold#write-review-title.text-center Review a School
            form#form-form-0.validate-form(action='/', method='post')
            form#form-form-1.validate-form(action='/', method='post')
            form#form-form-2.validate-form(action='/', method='post')
            form#add-school-form.validate-form(action='/', method='post')
            // Stepper
            .steps-form
                  .steps-row.setup-panel.d-flex.justify-content-between
                        .steps-step
                              a.btn.btn-amber.btn-circle.waves-effect.ml-0(href='#step-0',  data-toggle='tooltip', data-placement='top', title='Let\'s find your school')
                                    i.fa.fa-map-marker(aria-hidden='true')
                        .steps-step.disabled
                              a.btn.btn-blue-grey.btn-circle.waves-effect(href='#step-1', data-toggle='tooltip', data-placement='top', title='Review and comment')
                                    i.fa.fa-pencil(aria-hidden='true')
                        .steps-step.disabled
                              a.btn.btn-blue-grey.btn-circle.waves-effect(href='#step-2', data-toggle='tooltip', data-placement='top', title='Other information')
                                    i.fa.fa-photo(aria-hidden='true')
                        .steps-step.disabled
                              a.btn.btn-blue-grey.btn-circle.waves-effect.mr-0(href='#step-3', data-toggle='tooltip', data-placement='top', title='Finish')
                                    i.fa.fa-check(aria-hidden='true')
            .row.justify-content-center.my-5
                  form.col-lg-8#review-form(action='/review', method='POST' novalidate='')
                        -var formName = 'review-form'
                        input#token.d-none(name="submissionTokenVal" value=tokenValue form=formName)

                        // First Step
                        #step-0.row.setup-content
                              .col-md-12
                                    -var step = 0
                                    include find-school

                        // Second Step
                        #step-1.row.setup-content
                              .col-md-12
                                    include review-form1

                        // Third Step
                        #step-2.row.setup-content
                              .col-md-12
                                    include review-form2
                              
                        // Fourth Step
                        #step-3.row.setup-content
                              .col-md-12
                                    include review-form3
