<<<<<<< Updated upstream
figure.col-md-3
    .view.overlay
        .add-photo-container.text-center
            .image-container.blurred.bg-primary.absolute
            h2.text-white.my-5.pt-4.absolute  Add Photo 
                a.btn.btn-primary.btn-rounded.btn-floating.btn-action.ml-auto(href="/school/addphoto/" + itemId)
                    i.text-white.mdi.mdi-plus(aria-hidden='true') 
                    //- i.mdi.mdi-plus-circle(aria-hidden='true')
=======
if school
    figure.col-md-3
        .view.overlay
            .add-photo-container.text-center
                .image-container.blurred.bg-primary.absolute
                h2.text-white.my-5.pt-4.absolute  Add Photo 
                    a.btn.btn-primary.btn-rounded.btn-floating.btn-action.ml-auto(href=link)
                        i.text-white.mdi.mdi-plus(aria-hidden='true') 
                        
>>>>>>> Stashed changes
