extends layout
block content
      .container
            .row.justify-content-md-center
                  .col-md-6
                        .card.text-dark.my-5
                              .card-header.border-bottom-0
                                    .text-center
                                          img(src='/images/logo.svg', width='', height='40', alt='')
                              .card-body.text-left
                                    .text-center
                                                h1.mt-3.mb-5.text-light.font-weight-bold Add Photo
                                    form(action='/school/addphoto', method='POST')
                                          .form-group
                                                input#id(type="hidden", name="id", value=school._id)

                                          .row
                                                hr
                                                .col-lg-12
                                                      #preview-school-user-picture.image-container.image-container-default.bg-primary
                                                .col-lg-12
                                                      .md-form
                                                            .file-field
                                                                  .btn.btn-primary.btn-sm.float-left.ml-0
                                                                        span Choose photo
                                                                        input#school-user-picture(type='file', required)
                                                                        input#url-school-user-picture.form-form-2.d-none(name="urlSchoolUserPicture" accept="image/*" value="/public/default.png" required)
                                                                  .file-path-wrapper
                                                                        input.file-path.validate(type='text', placeholder='Upload your file')
                                                      .progress(style='height: 12px')
                                                            #progress-school-user-picture.progress-bar.bg-primary(role='progressbar', style='width: 0%; height: 12px', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                                                            span.sr-only 0% Complete
                                          .md-form
                                                //- i.fa.fa-pencil.prefix
                                                textarea#textareaPrefix.form-control.md-textarea(type='text', name='description',  rows='1', required)
                                                label(for='textareaPrefix') Description

                                          .text-center
                                                button.btn.btn-primary.btn-lg.px-5.px-5.mb-1(type='submit') Add Photo
