extends layout
block content
   div.container
      div.row
         div.col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
            .login-branding
               img.signin-logo(src="/images/logo2.gif")
            h1.text-center.login-title School Registration Details
            form(action='/school/addschool', method='POST')
               .form-group
                  label.control-label(for='Name') Name
                  input(type='text', name='name', class='form-control', placeholder='School Name',required, autofocus)
               .form-group
                  label.control-label(for='Picture') Picture
                  .progress
                     #progress-bar-picture.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
                        span.sr-only 0% Complete
                  img#preview.img-thumbnail.col-sm-12.col-md-12.col-lg-12(src="/images/default.png")
                  input#avatarUrl(type="hidden" name="avatarUrl" value="/public/default.png")
                  span(class="btn btn-default btn-file") Browse
                     input#file_input(type="file")
               .form-group
                  label.control-label(for='location') Location
                  .clearfix
                  select#provinceSelect.form-control(name="province")
                     option(value="-1") Province
                     option(value="-2") =============
                     optgroup(label="Provinces")
                     each province,i in provinces
                        option(value=province.code) #{province.name} - #{province.chineseName}
                  select#citySelect.form-control(name="city")
                     option(value="-1") City
               .clearfix
               .form-group
                  label.control-label(for='TypeOfSchool') Type Of School
                  select.form-control(name="schoolType")
                     option(value="0") Training School
                     option(value="1") Public School
                     option(value="2") Contractual Training School
               .form-group
                  label.control-label(for='Description') Description
                  textarea(rows='5', name='description', class='form-control', placeholder='Description',required)
               button(class='btn btn-lg btn-primary btn-block btn-eic', type='submit') Submit
               span.clearfix
            #message
               if message
                  h1.text-center.error-message #{message}
