.fb-page(data-href='https://www.facebook.com/englishinchinaco/', data-tabs='timeline', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
    blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/englishinchinaco/')
        a(href='https://www.facebook.com/englishinchinaco/') English in China
