.container.col-md-4.offset-md-4.col-sm-12.no-height
   if messages && messages.error
      .alert.alert-danger.flash-messages
         div= messages.error
   if messages && messages.info
      .alert.alert-info.flash-messages
         div= messages.info
   if messages && messages.success
      .alert.alert-success.flash-messages
         div= messages.success