.container.messages
    if flash && flash.error
      .row.justify-content-center
        .alert.alert-danger.flash-messages-container.col-md-8.col-sm-10.text-center
          .flash-messages.px-4.py-3 #{flash.error}

    if flash && flash.info
      .row.justify-content-center
        .alert.alert-info.flash-messages-container.col-md-8.col-sm-10.text-center
          .flash-messages.px-4.py-3 #{flash.info}

    if flash && flash.success
      .row.justify-content-center
        .alert.alert-success.flash-messages-container.col-md-8.col-sm-10.text-center
          .flash-messages.px-4.py-3 #{flash.success}
