//- .container.col-md-4.offset-md-4.col-sm-12.no-height
//-    if message && message.error
//-       .alert.alert-danger.flash-messages
//-          div= message.error
//-    if message && message.info
//-       .alert.alert-info.flash-messages
//-          div= message.info
//-    if message && message.success
//-       .alert.alert-success.flash-messages
//-          div= message.success
