if flash
    .container.messages
        .flash-messages-container
            .row.justify-content-center
                .col-12
                    .row
                        if flash.error
                            for message in flash.error
                                .alert.alert-danger.col-12.text-center
                                    .flash-messages.px-4.py-3 #{message}

                        if flash.info
                            for message in flash.info
                                .alert.alert-info.col-12.text-center
                                    .flash-messages.px-4.py-3 #{message}

                        if flash.success
                            for message in flash.success
                                .alert.alert-success.col-12.text-center
                                    .flash-messages.px-4.py-3 #{message}

//- if flash && (flash.error || flash.info || flash.success)