footer
    .container
        .footer-box.col-sm-12.col-md-6.col-lg-6
            h2 English in China
            ul
                li#mission Our mission at English In China is to make it possible for English Teachers looking for a job in China to be as informed as possible. We also hope to bring a needed layer of transparency into Chinese English Schools.
                li#mission Team EIC.
                //li.social-media
                //    a.social-icon(href="http://www.facebook.com/englishinchinaco/")
                //        img(src="/images/FB-f-Logo__blue_29.png")
                //    a.social-icon(href="http://www.twitter.com/englishchinaco/")
                //        img(src="/images/logo_twitter_29x29.gif")
        //.footer-box.col-sm-12.col-md-5.col-lg-5
        //    h3 Contact Us
        //    form(action='/contactus', method='POST')
        //        .form-group
        //            input(type='email', name='email', class='form-control', placeholder='Email',required)
        //        .form-group
        //            textarea#description-textarea(rows='4', name='content', class='form-control', placeholder='Content', style="width: 100%",    required)
        //        button(class='btn btn-lg btn-primary btn-eic', type='submit') Submit