footer
    .container
        h3 English in China
        ul
            li
                a(href="/addschool") Home
            li
                a(href="/addschool") New school
            li#mission.col-sm-4.col-md-4 Our mission at English In China is to make it possible for English Teachers looking for a job in China to be as informed as possible. We also hope to bring a needed layer of transparancy into Chinese English Schools.
