if locals.user
    li.nav-item.dropdown.mb-2.mb-lg-0.p-2
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.caret
                | #{user.username}
        .dropdown-menu.text-center(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item.py-3(href='/user') My Profile
            a.dropdown-item.py-3(href='/signout') Sign Out

else

    -var signupUrl = '/signup'
    -var loginUrl = '/login'
    if(redirectUrl)
        -signupUrl = signupUrl + '?redirectUrl=' + encodeURIComponent(redirectUrl)
        -loginUrl = loginUrl + '?redirectUrl=' + encodeURIComponent(redirectUrl)

    li.nav-item.p-2
        a.nav-link(href=loginUrl) 
            i.d-none.d-lg-inline.fa.prefix.mdi.mdi-account(aria-hidden='true')
            |  Login
    li.nav-item.p-2.mb-2.mb-lg-0
        a.nav-link(href=signupUrl) Register
