if locals.user
    li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.caret
                | #{user.username}
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='/user/edit') My Profile
            if user.teachingDetails
                a.dropdown-item(href='/user/teacher-details/' + user.id ) Teacher Profile
            a.dropdown-item(href='/signout') Sign Out

else

    -var signupUrl = '/signup'
    -var loginUrl = '/login'
    if(redirectUrl)
        -signupUrl = signupUrl + '?redirectUrl=' + encodeURIComponent(redirectUrl)
        -loginUrl = loginUrl + '?redirectUrl=' + encodeURIComponent(redirectUrl)

    li.nav-item
        a.nav-link(href=loginUrl) 
            i.d-none.d-lg-inline.fa.prefix.mdi.mdi-account(aria-hidden='true')
            |  Login
    li.nav-item
        a.nav-link(href=signupUrl) Register
