extends layout
block content
    if main
        .splash
            .splash-image-container
                .splash-image(style="background-image: url('/images/chinag.jpg');")
            .splash-text.col-sm-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
                h1 Find Any School in China
                p.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2 English in China catalogs every school, university and English organization in the country in a way that has never been done before. Discover schools and cities through the words of teachers who have already experienced them and find which environment better fulfills your expectations
                include searchnavigation
                //.fb-like(data-href='http://www.facebook.com/englishinchinaco/', data-layout='standard', data-action='like', data-show-faces='true')
        .container
            include populargrid/popularcategories
            .clearfix
        include sitepromo
            .clearfix

    else
        .splash2
            .splash-image-container
                .splash-image(style="background-image: url('/images/chinag.jpg');")
            .splash-text.col-sm-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
                h1 Find Any School in China
                include searchnavigation
                //.fb-like(data-href='http://www.facebook.com/englishinchinaco/', data-layout='standard', data-action='like', data-show-faces='true')
            span.clearfix

    .container
        h1.has-hr#popular-cities Featured Schools
        h4 Check out our schools accross China 
        hr.col-sm-12.col-md-8
        div.row
            div.col-sm-12.col-md-8
                include schoollist
            include sidebar
