extends layout
block content
    .container
        div.login-form.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            .panel.panel-default
                .panel-body.flat-body
                    .login-branding
                        img.signin-logo(src="/images/logo2.gif")
                        .clearfix
                        img.signin-brand(src="/images/logo-name3.gif")
                    form(class='form-signin', action='/login', method='POST')
                        .form-group.has-feedback
                            //label.control-label(for='Username') Username
                            input(type='text', name='username' class='form-control input-lg', placeholder='Username',required, autofocus)
                            span.glyphicon.glyphicon-user.form-control-feedback
                        span.clearfix
                        .form-group.has-feedback
                            //label.control-label(for='Password') Password
                            input(type='password', name='password' class='form-control input-lg', placeholder='Password', required)
                            span.glyphicon.glyphicon-lock.form-control-feedback
                        a Forgot your password?
                        span.clearfix
                        button.login-button.col-xs-4(class='btn btn-eic btn-lg btn-primary', type='submit') Login
                    span.clearfix
                    hr.dark-hr
                    h4.login-title Social Login
                    .form-group
                        a.social-login-link.col-xs-12.col-sm-6(href='/login/facebook')
                            img.img-responsive.social-login(src="/images/fcb.gif")
                        a.social-login-link.col-xs-12.col-sm-6(href='/login/twitter')
                            img.img-responsive.social-login(src="/images/tw.gif")
                .panel-footer
                    a(href='/signup', class='text-center new-account') Create an account
                #message
                if message
                    h1.text-center.error-message #{message}


