extends layout
block content
    .splash
        .splash-image-container
            .splash-gradient
        div.container.login-page
            div.login-form.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                .panel
                    .panel-body.flat-body
                        h1 Registration Details
                        .padding
                        form(class='form-signin', action='/signup', method='POST')
                            .clearfix
                            .form-group
                                label.control-label(for='Username') Username
                                input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
                            .form-group
                                label.control-label(for='Password') Password
                                input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
                            .form-group
                                label.control-label(for='Email') Email
                                input(type='email', name='email', class='form-control', placeholder='Email',required)
                            //.form-group
                            //    label.control-label(for='First Name') First Name
                            //    input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
                            //.form-group
                            //    label.control-label(for='Last Name') Last Name
                            //    input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
                            hr
                            .form-group
                                label.control-label(for='Picture') Picture
                                .upload-picture.preview
                                    img.profile-img.register-picture.img-circle(src="/images/default-user.png")
                                    img.profile-img#preview.register-picture.img-circle(src="/images/default.png")
                                .progress
                                    #progress-bar-picture.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
                                        span.sr-only 0% Complete
                                span(class="btn btn-default btn-file browse-btn") Browse
                                    input#file_input(type="file")
                                input#avatarUrl(type="hidden" name="avatarUrl" value="/public/default.png")
                            button(class='btn btn-lg btn-block btn-eic btn-primary', type='submit') Register
                            hr.dark-hr
                            p
                                |Do you already have an account?&nbsp;
                                a(href="/login") Login
                            p.no-padding-bottom
                                |Skip registration and sign in using social networks&nbsp;
                                a.social-icon(href='/login/facebook')
                                    img(src="/images/FB-f-Logo__blue_29.png")
                            span.clearfix
                        #message
                            if message
                                h3.text-center.error-message #{message}