extends layout
block content
   div.container
      h1.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3 Review for #{review.foreignId.name}
      include school/schoolreview
   div.container
      h2
         a.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1(href="/school/id/#{review.foreignId.id}") More reviews on #{review.foreignId.name}
      .otherreviews.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
         include school/schoolreviews
         a.btn.btn-primary.btn-lg(href="/school/id/#{review.foreignId.id}") See School