block content
   span.clearfix
   h2 Photos
   hr

   .school-img-list.col-md
      each photo in school.photos
         //.item.col-sm-4.col-md-3.col-lg-3(id="#{photo._id}")
         .item.img-responsive.col-xs-4.col-sm-4.col-md-3.col-lg-2(width="100%", src="#{pictureInfo.returnThumbnail(photo.url)}")
            .school-img-list-item(style="background-image: url('#{pictureInfo.returnThumbnail(photo.url)}');")
.clearfix

.clearfix

if locals.user
   h4
      a.btn.btn-eic.btn-primary.btn-lg(href="/school/addphoto/#{school.id}") Add Photo


