block content
      if schools.length > 0
            .row
                  each school in schools
                        .col-sm-12.col-md-6.col-lg-4.mb-3
                              include schoolcard
      else
            
                  include search-noschool