.searchnavigationbar
  .nav-container.search-bar.col-md-10.offset-md-1
        form.form-inline.form-horizontal.navbar-form(role='search', action='/school/search', method='GET')
              .form-group.col-md-6.col-lg-6
                    //label.col-md-3.col-lg-3.control-label.search-label(for='location') Name:
                    input.search-navigation-inputs.form-control.form-control-lg(type='text', placeholder='School Name', name='schoolInfo')
              .form-group.col-md-2.col-lg-2
                    //label.col-md-3.col-lg-3.control-label.search-label(for='province') Province:
                    select#provinceSelect.search-navigation-inputs.form-control.form-control-lg(name="province")
                          option(value="-1") Province
                          option(value="-1") =============
                          optgroup(label="Provinces")
                          each province,i in provinces
                                option(value=province.code) #{province.name} - #{province.chineseName}
              .form-group.col-md-2.col-lg-2
                    //label.col-md-3.col-lg-3.control-label.search-label(for='city') City:
                    select#city-select.empty.search-navigation-inputs.form-control.form-control-lg(name="city")
                          option(value="-1") City
              .form-group.col-md-2.col-lg-2
                    button.btn.btn-lg.btn-default.btn-block(type='submit') 
                          i(class="icon-search")
                          span.hidden-md-down Search
        .clearfix



