extends layout
block content
      .container.text-center.my-5
            if searchMessage
                  h2.searchmessage #{searchMessage}
                  p.text-muted There are #{schools.length} schools related to your search
      .my-5
            include searchnavigation
      .container   
            include school/schoollist
            //- include sidebar

            //- .container
            //-       //div.row
            //-       include populargrid/popularcategories
            //-             //include popularcategories