extends layout
block content

   .splash2
      .splash-image-container
         .splash-image(style="background-image: url('/images/chinag3.jpg');")
      .splash-text.col-sm-12.col-md-8.offset-md-2.col-lg-8.offset-lg-2
         h1 Find Any School in China
         include searchnavigation

   .container
      div.row
         div.col-sm-12.col-md-8
            include schoollist
         include sidebar
      hr
   .container
      //div.row
      include populargrid/popularcategories
         //include popularcategories