extends layout
block content
      if schools
            .container.text-center.my-5
                  if searchMessage
                        h2.searchmessage #{searchMessage}
                        p.text-muted There are #{schools.length} schools related to your search
            .my-5
                  include searchnavigation
            .container   
                  include school/schoollist
      if companies
            .container.text-center.my-5
                  if searchMessage
                        h2.searchmessage #{searchMessage}
                        p.text-muted There are #{companies.length} companies related to your search
            .container.my-5   
                  include company/companylist
      if jobs
            h1 Jobs