extends layout
block content
      .container.my-5
            if searchMessage
                  h2.searchmessage #{searchMessage}
      include searchnavigation
      .container   
            div.row
                  .card-columns
                        include schoollist
                  include sidebar

            //- .container
            //-       //div.row
            //-       include populargrid/popularcategories
            //-             //include popularcategories