.search-navigation-bar.col-md-12.zindex-pop
      .container
             form.col-sm-12.px-0.pt-3.pt-lg-0(role='search', action='/school/search', method='GET')
                  .row
                        .col-lg-7.mt-2
                              .md-form
                                    input#schoolInfo.form-control(type='text', name='schoolInfo')
                                    label(for='schoolInfo') School Name
                        .col-lg
                              .md-form
                                    select.mdb-select
                                          option(value='', disabled='', selected='') Choose your country
                                          option(value='1') Australia
                                          option(value='2') Austria
                                          option(value='3') Germany
                        .col-lg.mt-2
                              .md-form
                                    input#form16.form-control(type='text')
                                    label(for='form16') Country
                        .col-lg
                              button.col-sm-12.btn.btn-rounded.btn-lg.btn-primary.border-0(type='submit') 
                                    i.mdi.mdi-magnify(aria-hidden='true')
                                    span Search
