nav#search-navigation.navbar-expand-md.bg-light-secondary
      p.text-center.d-lg-none.mb-0
            a.btn.btn-lg.btn-link(data-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample') 
                  i.mdi.mdi-magnify(aria-hidden='true')
                  | Search
                  i.mdi.mdi-chevron-down(aria-hidden='true')
      #collapseExample.collapse.show.col-md-12.zindex-pop
            .container
                  form.col-sm-12.px-0.pt-3.pt-lg-0(role='search', action='/school/search', method='GET')
                        .row
                              -var magnify = false;
                              include searchschools