//- var isSidebar = true
.sidebar.col-md-4.col-sm-12.col-lg-4
   .col-sm-12.col-lg-11.col-md-11.no-side-padding
      .sidebar-element.hidden-xs.hidden-sm
         include fcbpagesharer
      .sidebar-element
         include ad-addschool
      //.sidebar-element.hidden-xs.hidden-sm
      //   include populargrid/popularcategories
