.site-promo-container
   .container
      .row
         .site-promo
            h2 What Makes English in China Different
            .site-promo-element.col-xs-12.col-sm-10.offset-sm-1.col-md-4.col-md-offset-0.col-lg-4
               .site-promo-element-img
                  img(src="images/focused.png")
               h3 Focused on information
               p Our main mission is to provide you with information about the schools you are looking into. Whether those are shun under a positive light or not is none of our business.
            .site-promo-element.col-xs-12.col-sm-10.offset-sm-1.col-md-4.col-md-offset-0.col-lg-4
               .site-promo-element-img
                  img(src="images/detailed.png")
               h3 Detailed presentation
               p Schools are cataloged indivually so future teachers know what to expect from the specific location they are applying for, instead of grouped under a franchise name or an organization.
            .site-promo-element.col-xs-12.col-sm-10.offset-sm-1.col-md-4.col-md-offset-0.col-lg-4
               .site-promo-element-img
                  img(src="images/real.png")
               h3 Real pictures and reviews
               p  The reviews are 100% legitimate. Teachers like you willingly chose to share their experience and the range of pictures will extensively cover what the schools are truly about.
            .clearfix