extends layout
block content
    div.container
        div.lift-content
            div.col-sm-12.col-md-8
                if locals.user.fb
                    .profile-image-holder.img-circle(style="background-image: url('#{pictureInfo.returnFacebookPicture(user.avatarUrl)}');")
                else
                    .profile-image-holder.img-circle(style="background-image: url('#{pictureInfo.returnThumbnail(user.avatarUrl)}');")
                h1.login-title #{user.firstName}
                include schoolreviews
