extends layout
block content
    div.container
        div.lift-content
            div.col-sm-12.col-md-8
                h1.login-title #{user.firstName}
                //span.clearfix
                //h3 #{provinces[school.province]}
                //h4.login-title #{school.description}
