.container
        .row.justify-content-center.relative
      
            nav.col-md-12.col-lg-10#search-navigation.navbar-expand-lg.bg-pale-gray.border-radius-5.absolute.zindex-pop.clear
                include ta-search-form
            
            //- Empty to compensate for absolute div thats doesnt clear its space
            .col-12.my-5

        include ../../populargrid/popular-provinces-buttons
