extends ../layout
block content
    div.school-page
        include articleheader
        .school-container
            .container.school-content
                span.clearfix
                .page-block.col-xs-12.col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
                    div.description-container
                        p.login-title !{article.content}
                    span.clearfix

