/* @media screen and (max-width: 480px) {
  .chart li {
      height: auto !important;
      line-height: inherit !important;
  }
} */

.chart {
	zoom: 1;
  width: 100%;
}

.chart:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden
}

.chart li {
	display: inline-block;
  height: 40px;
  line-height: 12px !important;
  /* margin-top: 1px !important; */
	margin-top: 3px;
	position: relative
}

.chart li:before {
  content: attr(title);
  color: black;
  display: block;
  left: 0;
  position: relative;
  font-size: 15px !important;
  margin-bottom: 6px;
}

.chart li.title:before {
	color: black;
	font-weight: bold;
	left: 0
}

.chart li:first-child {
	margin-top: 0
}

.chart li .bar {
  height: 8px;
  border-radius: 2px 5px 5px 2px !important;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
}

.chart li .number {
	color: black;
	font-size: 18px;
	font-weight: bold;
	padding-left: 5px;
	position: absolute;
	top: 17px
}

.chart li.past .bar {
	background: #aaa
}

.chart li.past .number {
	color: #aaa
}

}