/** {*/
/*-webkit-border-radius: 0 !important;*/
/*-moz-border-radius: 0 !important;*/
/*border-radius: 0 !important;*/
/*}*/
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f3f0;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 3em;
}
.extra-link {
  padding-top: 20px;
}
.flat-body {
  background-color: #eee;
}
header {
  width: 100%;
  height: 60px;
  background-color: #87d37c;
}
footer {
  border-top: solid 1px #555;
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: #2a303c;
}
.lift-content {
  margin-top: 100px;
  background-color: #fff;
}
.search-navigation {
  background-color: #fff;
  border: solid 1px #ccc;
}
.search-navigation-search-input {
  width: 50%;
}
.contains-image {
  max-height: 300px;
  white-space: nowrap;
/*overflow: hidden*/
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.school-image-container {
  height: 350px;
  overflow: hidden;
  width: 100%;
  position: relative;
  vertical-align: middle;
  border-top: solid 10px #000;
  border-bottom: solid 10px #000;
  background-position: center center;
}
.featured-school {
  overflow: hidden;
  height: 400px;
/*border-bottom solid 10px black*/
  background-position: center center;
}
.featured-school-item {
  height: 400px;
  background-position: center center;
  background-size: cover;
}
.list-group-item {
  display: inline-block;
}
a h2.list-group-item-heading,
a h2.list-group-item-heading:hover {
  color: #000;
  font-size: 3em;
}
.school-list-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}
.list-group-item.school-list {
  margin: 10px 0;
  border: solid 1px #eee;
  padding: 0px;
  padding-bottom: 10px;
}
.list-group-item.school-list:hover {
/*border-top: solid 5px #080808*/
  box-shadow: 2px 2px 6px #ccc;
  border-left: solid 2px #eee;
}
.school-list-text {
  padding-top: 5px;
  display: block;
}
.school-list-information a h2,
.school-list-information a h2:hover {
  text-decoration: none;
}
.school-list-image {
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
}
.custom-jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: -70px;
}
.navbar-custom {
  border: 0px;
/*border-bottom solid 1px #FFFFFF;*/
  background-color: #fff;
  color: #fff;
  margin-bottom: 0px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  min-height: 50px;
  z-index: 999;
}
.navbar-header h3 {
  text-transform: uppercase;
  font-size: 18px;
}
h2.school-location {
  font-size: 22px;
  margin: 0;
}
.school-list-information {
  padding-top: 15px;
}
.slider-track .slider-selection {
  background: #388577;
}
.slider-handle {
  background: #666;
  background-image: -webkit-linear-gradient(top, #666 0%, #999 100%) !important;
  background-image: -o-linear-gradient(top, #666 0%, #999 100%) !important;
  background-image: linear-gradient(to bottom, #666 0%, #999 100%) !important;
  background-repeat: repeat-x;
/*background-image: none !important;*/
}
.slider {
  margin-left: 15px;
}
.writereviewformgroup {
  padding-bottom: 65px;
}
.rating {
  font-size: 30px;
  color: #e38d13;
/*color #4cae4c*/
}
#rating {
  padding-left: 20px;
}
.overall-rating {
  font-size: 36px;
  padding-bottom: 10px;
}
.list-group-review {
  display: inline-table;
/*width 22em;*/
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
  border: solid 1px #eee;
}
.profile-picture {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
.profile-picture div {
  border-radius: 20px;
  -webkit-border-radius: 17.5px;
  -moz-border-radius: 17.5px;
  padding-top: 3px;
  width: 35px;
  height: 35px;
  background-size: cover;
}
.user-avatar {
  float: left;
  width: 50px;
}
.image-holder,
.profile-image-holder {
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  background-size: cover;
  overflow: hidden;
}
.profile-image-holder {
  width: 150px;
  height: 150px;
}
.user-information {
  font-size: 23px;
}
.user-information .date {
  font-size: 20px;
}
.default-user-picture,
.profile-img {
  position: absolute;
  top: 0;
}
.user-picture {
  position: relative;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px;
}
footer .container {
  color: #ccc;
}
footer .container ul {
  list-style: none;
  padding-left: 0;
}
footer .container ul li {
  padding-bottom: 15px;
}
.search-title {
  padding: 0 0 0 15px;
  color: #000;
}
#mission {
  padding: 10px 0 0 0;
  font-size: 10px;
}
.login-form {
  margin-top: 20px;
}
.social-login-link {
  padding-left: 0px;
  padding-bottom: 10px;
  text-align: center;
}
.social-login {
  text-align: center;
  display: inline;
}
.login-title {
  padding-bottom: 20px;
}
.school-page-name {
  padding: 0px 0 0px 20px;
  color: #fff;
  font-size: 3em;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.school-page-location {
  padding: 0px 0 0px 20px;
  color: #fff;
  font-size: 1em;
  position: relative;
  font-size: 16px;
}
.school-page-schooltype {
  padding: 0px 0 0px 20px;
  color: #fff;
  font-size: 1em;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
}
.stick-to-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.gradient-shadow {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  -webkit-box-shadow: inset 0px -150px 150px -100px #222;
}
.btn-eic,
.btn-eic.disabled,
.btn-eic:visited {
  background-color: #388577;
  border: #388577;
  margin-right: 5px;
}
.btn-eic:hover {
  background-color: #34635a;
}
.btn-eic:active,
.btn-eic:hover {
  background-color: #223f3a;
}
.dark-hr {
  border: solid 1px #ddd;
}
.login-button {
  border-radius: 0;
  margin-top: 10px;
}
.nav-logo {
  height: 43px;
  margin-top: 4px;
  padding: 5px 10px 5px 10px;
}
.signin-logo {
  height: 80px;
  margin-top: 4px;
  padding: 5px 10px 5px 10px;
}
.nav-brand {
  height: 33px;
  margin-top: 10px;
  padding: 0px 10px 0 0;
}
.signin-brand {
  height: 98px;
  margin-top: 10px;
  padding: 0px 10px 0 0;
}
.login-branding {
  text-align: center;
  padding: 5px 0 10px 0;
}
#lightbox {
  position: fixed;
/* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  text-align: center;
  display: none;
  z-index: 99;
}
#lightbox p {
  text-align: right;
  color: #fff;
  margin-right: 20px;
  font-size: 12px;
}
#lightbox li {
  display: inline-block;
  position: fixed;
  margin-top: 40px;
/*top: 0;*/
/*bottom: 0;*/
  left: 0;
  right: 0;
/*height: 500px;*/
  margin: auto;
}
/*#lightboxcontent*/
/*z-index: 99*/
.review-content {
  height: 100px;
  overflow: hidden;
  -webkit-box-shadow: inset 0px -10px 15px -2px #f0f0f0;
}
.read-review {
  padding-top: 20px;
  height: auto;
/*overflow hidden*/
  text-align: left;
  -webkit-box-shadow: none;
}
.carousel-caption {
  padding-bottom: 50px;
}
.float-left {
  float: left;
}
.search-navigation-inputs {
  min-width: 200px;
}
.padding {
  height: 20px;
}
.noscroll {
  overflow: hidden;
}
#preview {
  display: none;
}
.edit-preview {
  display: inline !important;
}
.preview {
  height: 100px;
  width: 100px;
}
.register-picture {
  height: 100px;
  width: 100px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.flash-messages {
  margin-top: 20px;
}
.school-img-list-item {
/*width 100%*/
  height: 120px;
  background-position: center;
}
.school-image-item {
  padding: 0;
  height: 120px;
  overflow: hidden;
  padding-right: 1px;
}
.school-image-itemitem2 {
  overflow: hidden;
  height: 130px;
}
