.criteria {
  font-size: 20px;
  padding: 40px 0 10px 0;
}
.review-criteria-score {
  font-size: 17px;
}
.employeeInfo {
  width: inherit;
  margin-left: 12px;
  margin-right: 12px;
}
.no-top-margin {
  margin-top: 0;
  margin-left: 0;
}
.calendar {
  padding-top: 10px;
}
.user-box {
  display: flex;
  padding: 15px 10px 15px 10px;
  background-color: #fff;
}
