extends ../layout
block content

    .container-fluid
        #search-splash.search-splash.row.justify-content-center
            .search-splash-image-container
                .search-splash-image(style="background-image: url('https://englishinchina.s3.amazonaws.com/lg_71ebedd0-14ee-11e9-bfc0-af3be6fbf365.jpeg');")
                //- .search-splash-image(style="background-image: url('https://englishinchina.s3.amazonaws.com/lg_e8098220-14ee-11e9-bfc0-af3be6fbf365.jpeg');")
            .search-splash-text.col-sm-12.col-md-9.col-lg-9.my-auto
                .row.justify-content-center
                    h4.col-lg-12.milkshake.display-4
                        span.text-primary Second Language World
                    h2.font-weight-bold.display-3.col-lg-12 Job Board

    .bg-light.border-bottom.border-pale-gray
        .container
            -var inlineSearch = 'true'
            -var fullWidthSearch = 'true'
            include ./typeahead-search/ta-search-form

    include ../job/job-filters

    .container.mt-3 
        .row.align-items-center
            .col-auto#loading-spinner.pr-0.d-none
                .lds-ripple
                    div
                    div
            .col-9.py-1
                #filter-state-clean
                    p.mb-3.text-small You have not applied any filters.

                #filter-state-dirty.d-none
                    p.mb-3.text-small You have applied filters. 
                        a(href='#')
                            span#clear-all.text-warning Clear all.
        if jobs && jobs.length > 0
                include ../job/job-list
        else
            #job-list
                p Sorry, we couldn't find any matches for the specified terms.

