extends ../../layout
block content
    .container.stepper
        h1#write-review-title.py-5 Write A Review
            
        //- include default-job-info

        .stepper-nested-forms
            form.validate-form(action='/', method='post')
            form.validate-form(action='/', method='post')
            form.validate-form(action='/', method='post')
        .stepper-extra-forms
            form#add-school-form.validate-form(action='/', method='post')

        //- Stepper
        nav.steps-form.mb-1
            .row.steps-row.setup-panel
                .step.px-1.col-4
                    -var formTab = {}
                    -formTab.text = 'Location'
                    -formTab.mdi = 'mdi-map-marker'
                    include ../../templates/forms/form-tab

                .step.px-1.col-4
                    -var formTab = {}
                    -formTab.text = 'Relationship'
                    -formTab.mdi = 'mdi-file-document-box'
                    include ../../templates/forms/form-tab

                .step.px-1.col-4
                    -var formTab = {}
                    -formTab.text = 'Rating'
                    -formTab.mdi = 'mdi-file-document-box'
                    include ../../templates/forms/form-tab

                .step.px-1.col-4
                    -var formTab = {}
                    -formTab.text = 'Confirmation'
                    -formTab.mdi = 'mdi-check'
                    include ../../templates/forms/form-tab


        // Step content
        form#review-form(action='/review', method='POST' novalidate='')

            input#token.d-none(name="submissionTokenVal" value=tokenValue form=formName)

            // First Step
            .row.setup-content.active
                -formName = 'form-0'
                include find-school
            
            // Second Step
            .row.setup-content
                -formName = 'form-1'
                include review-add-relationship
            
            // Second Step
            .row.setup-content
                -formName = 'form-2'
                include review-add-evaluate
                    
            // Submission Step
            .row.setup-content
                include review-add-confirmation
