extends ../../templates/forms/form-card-container

block card 
    h2.font-weight-light.border-bottom.border-gray.pb-2 Review and finalize
    #form-step-3(role='form' data-toggle='validator')
        p We're giving you a chance to finalize your review before you submit it, at this point you can navigate back to any step and modify anything. You won't be able to edit a review after it is submitted so please make sure you have taken the time to check all the information you entered. Your taking the time to write this review is very much appreciated!       

        button.btn.btn-warning.btn-rounded.nextBtn.float-right(type='submit' for='form-review') Submit
        button.btn.btn-mdb-color.btn-rounded.prevBtn.float-right(type='button') Previous
