.row.justify-content-center.mb-2
        .col-12#teacher-profile-vp.border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.py-5.px-md-5.mb-3
            #vp-close.vp-x.mdi.mdi-close-circle.text-light-secondary


            .row.justify-content-center.align-items-center
                .col-lg-6.text-center
                    h1 Thank you for signing up!
                    h5.font-weight-bold.mb-3 What brings you on Second Language World?
            
            .row
                .col-12
                    hr.my-5

            .row.mt-2
                .col-lg-6.col-sm-12
                    a.btn.btn-outline-primary.btn-block(href='/user?type=teacher' )
                        i.mdi.mdi-account-plus.mr-2(aria-hidden='true')
                        | Create Teacher Profile
                    p.text-small.text-left.mt-1 Create a teacher profile. Enter some information regarding your experience as a teacher and upload your resume. 

                .col-lg-6.col-sm-12
                    a.btn.btn-md.btn-block.btn-primary.px-5.px-5.mb-1(href='/user?type=employer') 
                        i.mdi.mdi-briefcase.mr-2(aria-hidden='true')
                        | Create Employer Profile 
                    p.text-small.mt-1 This is for employers. Here you will be able to fill in our job form and share it with all the teachers on Second Language World
