//- .form-group.mb-3
//-   h3 Login or Sign up with your email
//- .form-group.mb-3
//-   label.control-label(for='email') Email
//-   input.form-control.form-control-lg.form-form-2(type='email' name='email' form="login-email" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby='basic-addon2')
//-   //- .input-group-append
//-   //-       span#basic-addon2.input-group-text email

.md-form
  i.prefix.mdi.mdi-school(aria-hidden='true')
  input#form9.form-control.validate(type='email')
  label(for='form9', data-error='wrong', data-success='right') Type your email