-var collapser = {}
-collapser.name = 'Employer Profile'
-collapser.slug = 'employer-profile'
-collapser.mdi = 'mdi-briefcase-outline'

include ../templates/collapsible-header        
    form(id='employer-details', class='employer-details', action='/user/employer-profile', method='POST')

        if(redirectUrl)
                .form-group.d-none
                        input(type='text', name='redirectUrl', placeholder='redirect', value=redirectUrl)

        .row
        
            .col-lg-12
                -var textInput = {}
                -textInput.id = 'name'
                -textInput.name = 'name'
                -textInput.formName = 'employer-details'
                -textInput.placeholder = 'Company Name'
                -textInput.label = 'Company Name'
                -textInput.required = true
                if user && user.employerDetails && user.employerDetails.name
                    -textInput.value = user.employerDetails.name
                include ../templates/inputs/text-input

            .col-lg-12
                -var textArea = {}
                -textArea.id = 'description'
                -textArea.name = 'description'
                -textArea.label = 'Description'
                -textArea.placeholder = 'Description'
                -textArea.rows = 5
                -textArea.required = true
                if user && user.employerDetails && user.employerDetails.description
                    -textArea.value = user.employerDetails.description
                include ../templates/inputs/text-area

        .row.my-3.pb-5  
            .col-sm-12.col-lg-6.text-center.mt-5
                    button.btn.btn-md.btn-block.btn-primary.px-5.px-5.mb-1(type='submit') Save Changes