extends form-container
block card
    .col-md-10.col-sm-12.col-lg-7
        .border.border-pale-gray.border-radius-5.text-dark.bg-white
            .my-5.text-left.px-3.px-md-5.py-1
                    .text-center
                            h3.mt-1.mb-5.text-light.font-weight-bold Reset Password 
                    form(class='form-signin', action='/forgot', method='POST')
                            if(redirecturl)
                                    .form-group.hidden
                                            input.form-control.form-control-lg(type='text', name='redirecturl', placeholder='Username', value=redirecturl)
                            .md-form.mb-5
                                    //- i.fa.prefix.mdi.mdi-email(aria-hidden='true')
                                    input.form-control(type='text', name='email', placeholder='Email',required, autofocus)
                                    label(for='email') Email
                                    p.text-small A link to reset your password will be sent to this email.
                            button.btn.btn-lg.btn-block.btn-primary(type='submit') Reset Password