extends form-container
block card
    .col-md-10.col-sm-12.col-lg-7
        .border.border-pale-gray.border-radius-5.text-dark.bg-white
            .my-5.text-left.px-3.px-md-5.py-1
                    .text-center
                            h3.mt-1.mb-5.font-weight-bold Reset Password 
                    form(class='form-signin', action='/forgot', method='POST')
                            if(redirecturl)
                                .form-group.hidden
                                    input.form-control.form-control-lg(type='text', name='redirecturl', placeholder='Username', value=redirecturl)
                            .form-group.mb-5    
                                -var textInput = {}
                                -textInput.id = 'username'
                                -textInput.name = 'email'
                                -textInput.placeholder = 'Email'
                                -textInput.label = 'Email'
                                -textInput.required = true;
                                -textInput.undertext = 'A link to reset your password will be sent to this email.';
                                include ../templates/inputs/text-input

                            button.btn.btn-lg.btn-block.btn-primary(type='submit') Reset Password