extends ../layout
block content
    .container
        .row.justify-content-md-center
            div.col-md-10.col-sm-12.col-lg-7
                .border.border-pale-gray.border-radius-5.text-dark.bg-white.my-5
                    block card
            p.col-md-10.col-sm-12.col-lg-7.text-small.text-center.mb-5 Second Language World catalogs every school, university and English organization in the World. Discover schools and cities through the words of teachers who have already experienced them and find which environment better fulfills your expectations

