extends ../layout
block content
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    #splash.splash.row.justify-content-center
        .splash-image-container
            .splash-image(style="background-image: url('/images/chinag1.jpg');")
        .col-sm-12.col-md-9.col-lg-9.mb-5
            .container
                .row.justify-content-md-center
                    div.col-md-10.col-sm-12.col-lg-6
                        block card

        