extends ../layout
block content
    .splash(style="background-image: url('/images/chinag3.jpg');")
        .container
            .row.justify-content-md-center
                div.col-md-5
                    block card
        