.panel.login-panel
   .panel-body.flat-body
      h1 Login to your account
      .padding
      .padding
      .padding
      form(class='form-signin', action='/login', method='POST')
         if(redirecturl)
            .form-group.hidden
               input(type='text', name='redirecturl' class='form-control input-lg', placeholder='Username', value=redirecturl)
         h4.align-center ------------------------------------ connect with ------------------------------------
         .padding-block
         .form-group
            a(href='/login/facebook').btn.btn-block.btn-fcb.btn-lg Facebook
         .padding-block
         h4.align-center ----------------------------------------- or -----------------------------------------
         .padding-block
         .form-group.has-feedback
            label.control-label(for='Email') Email
            input(type='text', name='email' class='form-control input-lg', placeholder='Email',required, autofocus)
            span.glyphicon.glyphicon-user.form-control-feedback
         span.clearfix
         .form-group.has-feedback
            label.control-label(for='Password') Password
            input(type='password', name='password' class='form-control input-lg', placeholder='Password', required)
            span.glyphicon.glyphicon-lock.form-control-feedback
         span.clearfix
         button(class='btn btn-lg btn-block btn-eic', type='submit') Login
         span.clearfix
         .padding
         p.forgot-password
            a(href="/forgot") Forgot your password?
         p
            |Don't have an account yet?&nbsp;
            a(href="/signup") Create an account
         #message
            if message
               h3.text-center.error-message #{message}
      span.clearfix