extends form-container
block card
        .my-5.text-left.px-3.px-md-5.py-1
                .text-center
                        h3.mt-1.mb-5.text-light.font-weight-bold Sign in 
                form(class='form-signin', action='/login', method='POST')
                        if(redirecturl)
                                .form-group.hidden
                                        input.form-control.form-control-lg(type='text', name='redirecturl', placeholder='Username', value=redirecturl)
                        .md-form.mb-5
                                -var textInput = {}
                                -textInput.id = 'email'
                                -textInput.type = 'email'
                                -textInput.name = 'email'
                                -textInput.placeholder = 'Email'
                                -textInput.label = 'Email'
                                -textInput.required = true;
                                if responseInfo && responseInfo.email
                                        -textInput.value = responseInfo.email
                                include ../input-templates/text-input
                        .md-form.form-group.mb-5
                                -var textInput = {}
                                -textInput.id = 'password'
                                -textInput.type = 'password'
                                -textInput.name = 'password'
                                -textInput.placeholder = 'Password'
                                -textInput.label = 'Password'
                                -textInput.required = true;
                                if responseInfo && responseInfo.password
                                        -textInput.value = responseInfo.password
                                include ../input-templates/text-input
                                p.text-primary.text-small.forgot-password
                                        a(href="/forgot") Forgot your 
                                                span.font-weight-bold password?
                        .text-center
                                button.btn.btn-md.btn-block.btn-primary.btn-lg.px-5.px-5.mb-1(type='submit') Login
                        p.mb-0( style="font-size: 0.8rem;")
                                |Don't have an account yet?&nbsp;
                                a(href="/signup") Sign up

        .footer.border-0.bg-light-secondary.text-dark.py-3
                include social-login




