-var collapser = {}
-collapser.name = 'My Account'
-collapser.slug = 'my-account'
-collapser.mdi = 'mdi-account-box-outline'

include ../templates/collapsible-header 
    form(class='form-signin', action='/user', method='POST')

        if(redirectUrl)
            .form-group.d-none
                    input(type='text', name='redirectUrl', placeholder='redirect', value=redirectUrl)

        .form-group
            input#id(type="hidden", name="id", value=user.id)

        .row
            .col-lg-6
                -var textInput = {}
                -textInput.id = 'username'
                -textInput.name = 'username'
                -textInput.placeholder = 'Username'
                -textInput.label = 'Username'
                -textInput.required = true;
                -textInput.value = user.username
                include ../templates/inputs/text-input

            .col-lg-6
                -var textInput = {}
                -textInput.id = 'email'
                -textInput.name = 'email'
                -textInput.placeholder = 'Email'
                -textInput.label = 'Email'
                -textInput.required = true;
                -textInput.value = user.email
                include ../templates/inputs/text-input

        .row
            .col-lg-6
                -var textInput = {}
                -textInput.id = 'password'
                -textInput.name = 'password'
                -textInput.type = 'password'
                -textInput.placeholder = '********'
                -textInput.label = 'Password'
                -textInput.required = true;
                -textInput.disabled = true;
                -textInput.undertext = {value:'Request password change', link:'/forgot'}
                include ../templates/inputs/text-input

        .row
            .col-lg-6.text-center.mt-3.mb-5
                button.btn.btn-md.btn-block.btn-primary.px-5.px-5.mb-1(type='submit') Save Changes
