extends form-container
block card
        .my-5.text-left.px-3.px-md-5.py-1
                .text-center
                        h3.mt-1.mb-5.text-light.font-weight-bold Sign up 
                if message.length > 0
                        p.rounded.bg-light.text-danger.py-1.mb-5 #{message}            
                form(class='form-signin', action='/signup', autocomplete="off", method='POST')
                        .md-form
                                //- i.fa.prefix.mdi.mdi-account(aria-hidden='true')
                                input.form-control(type='text', name='username', placeholder='Username',required, autocomplete="off", autofocus)
                                label(for='username') Username
                        .form-check.pl-0
                                input#anonymous.form-check-input(type='checkbox' value="true" name="anonymous")
                                label.form-check-label(for='anonymous') Make me anonymous across SLWorld
                                p.text-small.mt-1 This can be changed at a later time on your profile page. Keep in mind that reviews that you wrote with this setting on will still show your display name if you choose to turn it off later on.
                        .md-form.my-5
                                //- i.fa.prefix.mdi.mdi-email(aria-hidden='true')
                                input.form-control(type='email', name='email', placeholder='Email',required, autofocus)
                                label(for='email') Email
                        .md-form.mb-5
                                //- i.fa.prefix.mdi.mdi-lock(aria-hidden='true')
                                input.form-control(type='password', name='password', placeholder='Password', required)
                                label.control-label(for='password') Password
                        .text-center
                                button.btn.btn-md.btn-block.btn-primary.btn-lg.px-5.px-5.mb-1(type='submit') Register
                        p.text-left.text-small
                                |Already have an account?&nbsp;
                                a(href="/login") Login
        .border-0.bg-light-secondary.text-dark.py-3
                include social-login
            
