extends form-container
block card
    .col-md-10.col-sm-12.col-lg-6.order-2.order-md-1
        include value-prop

    .col-md-10.col-sm-12.col-lg-6.order-1.order-md-2
        .border.border-pale-gray.border-radius-5.text-dark.bg-white
            .my-5.text-left.px-3.px-md-5.py-1
                    .text-center
                            h3.mt-1.mb-5.font-weight-bold Sign up     
                            
                    form(class='form-signup', action='/signup', autocomplete="off", method='POST')
                            if(redirectUrl)
                                .form-group.d-none
                                    input.form-control.form-control-lg(type='text', name='redirectUrl', placeholder='Username', value=redirectUrl)
                            .form-group
                                    -var textInput = {}
                                    -textInput.id = 'username'
                                    -textInput.name = 'username'
                                    -textInput.placeholder = 'Username'
                                    -textInput.label = 'Username'
                                    -textInput.required = true;
                                    include ../templates/inputs/text-input
                            .form-group.my-5
                                    -var textInput = {}
                                    -textInput.id = 'email'
                                    -textInput.type = 'email'
                                    -textInput.name = 'email'
                                    -textInput.placeholder = 'Email'
                                    -textInput.label = 'Email'
                                    -textInput.required = true;
                                    include ../templates/inputs/text-input
                            .form-group.mb-5
                                    -var textInput = {}
                                    -textInput.id = 'password'
                                    -textInput.type = 'password'
                                    -textInput.name = 'password'
                                    -textInput.placeholder = '********'
                                    -textInput.label = 'Password'
                                    -textInput.required = true;
                                    include ../templates/inputs/text-input
                            .text-center
                                    button.btn.btn-md.btn-block.btn-primary.px-5.px-5.mb-1(type='submit') Create my account
                            p.text-left.text-small
                                    |Already have an account?&nbsp;
                                    a(href="/login") Login
            
            .footer.border-0.bg-light-secondary.text-dark.py-3.mt-5.text-left.px-3.px-md-5.pb-5
                    include social-login