extends form-container
block card
        .my-5.text-left.px-3.px-md-5.py-1
                .text-center
                        h3.mt-1.mb-5.text-light.font-weight-bold Sign up     
                           
                form(class='form-signup', action='/signup', autocomplete="off", method='POST')
                        .md-form
                                -var textInput = {}
                                -textInput.id = 'username'
                                -textInput.name = 'username'
                                -textInput.placeholder = 'Username'
                                -textInput.label = 'Username'
                                -textInput.required = true;
                                if responseInfo && responseInfo.username
                                        -textInput.value = responseInfo.username
                                include ../input-templates/text-input
                        .form-check.pl-0                             
                                -var formCheck = {}
                                -formCheck.id = 'anonymous'
                                -formCheck.name = 'anonymous'
                                -formCheck.label = 'Make me anonymous across SLWorld'
                                -formCheck.required = true;
                                -formCheck.underText = 'This can be changed at a later time on your profile page. Keep in mind that reviews that you wrote with this setting on will still show your display name if you choose to turn it off later on.';
                                if responseInfo && responseInfo.anonymous
                                        -formCheck.value = responseInfo.anonymous
                                include ../input-templates/form-check
                        .md-form.my-5
                                -var textInput = {}
                                -textInput.id = 'email'
                                -textInput.type = 'email'
                                -textInput.name = 'email'
                                -textInput.placeholder = 'Email'
                                -textInput.label = 'Email'
                                -textInput.required = true;
                                if responseInfo && responseInfo.email
                                        -textInput.value = responseInfo.email
                                include ../input-templates/text-input
                        .md-form.mb-5
                                -var textInput = {}
                                -textInput.id = 'password'
                                -textInput.type = 'password'
                                -textInput.name = 'password'
                                -textInput.placeholder = 'Password'
                                -textInput.label = 'Password'
                                -textInput.required = true;
                                if responseInfo && responseInfo.password
                                        -textInput.value = responseInfo.password
                                include ../input-templates/text-input
                        .text-center
                                button.btn.btn-md.btn-block.btn-primary.btn-lg.px-5.px-5.mb-1(type='submit') Register
                        p.text-left.text-small
                                |Already have an account?&nbsp;
                                a(href="/login") Login
        .border-0.bg-light-secondary.text-dark.py-3
                include social-login
            
