extends form-container
block card
    .card.text-dark.my-5
        .card-header.border-bottom-0
            .text-center
                img(src='/images/logo.svg', width='', height='40', alt='')
        .card-body.text-left
            .text-center
                h3.mt-1.mb-3.text-light.font-weight-bold Reset Password 
                //- if message.length > 0
                //-         p.rounded.bg-light.text-danger.py-1.mb-5 #{message}
            form(class='form-signin', action='/reset', method='POST')
                .form-group
                    input#id(type="hidden", name="token", value=token)
                .md-form
                    i.fa.prefix.mdi.mdi-lock(aria-hidden='true')
                    input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
                    label.control-label(for='password') Password
                .md-form.mb-5
                    i.fa.prefix.mdi.mdi-lock(aria-hidden='true')
                    input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
                    label.control-label(for='password') Confirm Password
                button.btn.btn-lg.btn-block.btn-primary(type='submit') Reset Password

//- extends layout
//- block content
//-     .splash
//-         .splash-image-container
//-             .splash-gradient
//-         div.container.login-page
//-             div.login-form.col-sm-8.offset-sm-2.col-md-6.offset-md-3
//-                 .panel
//-                     .panel-body.flat-body
//-                         form(method='POST')
//-                             legend Reset Password
//-                             .form-group
//-                                 label(for='password') New Password
//-                                 input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
//-                             .form-group
//-                                 label(for='confirm') Confirm Password
//-                                 input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
//-                             .form-group
//-                                 button.btn.btn-primary(type='submit') Update Password