extends form-container
block card
    .col-md-10.col-sm-12.col-lg-7
        .border.border-pale-gray.border-radius-5.text-dark.bg-white
            .my-5.text-left.px-3.px-md-5.py-1
                .text-center
                    h3.mt-1.mb-5.font-weight-bold Reset Password 
                form(class='form-signin', action='/reset', method='POST')
                    .form-group
                        input#id(type="hidden", name="token", value=token)
                    .form-group
                        label.control-label(for='password') Password
                        input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
                    .form-group    
                        label.control-label(for='password') Confirm Password
                        input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
                    .form-group
                        button.btn.btn-lg.btn-block.btn-primary(type='submit') Reset Password