extends ../layout
block content
    .container.py-5
        .row
            .col-lg-12
                h1 Let's set up your teacher profile
                p You are a few steps away from being eligible for job applications. Let's make sure you have the information employers are looking for before we send your profile
        include teacher-details-form
    