.row
    .col-md-12.col-sm-12.col-lg-12
        .border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.py-5.px-md-5.mb-3   
            .row 
                .col-12.mb-3.mx-auto.mt-3.text-center
                    -var step = {}
                    -step.icon = 'mdi-lightbulb-on'
                    include ../home/step-indicator
                h2.col-lg-12.mb-3 Join 
                    span.text-primary.font-weight-bold Second Language World 
                    | and gain instant access to:
                ul.col-lg-12.list-checkmarks
                    li.mb-3
                        //- i.mdi.mdi-checkbox-marked-circle.text-primary(aria-hidden="true")
                        span.font-weight-bold The most responsive job board 
                        | for ESL Jobs around the world. Filter and categorize to your taste and explore job details and benefits at a glance.
                    li.mb-3
                        //- i.mdi.mdi-check-circle.text-primary(aria-hidden="true")
                        span.font-weight-bold One-click Application. 
                        | Want to apply to multiple jobs? Create your profile and upload your resume. We'll take care of forwarding your information, you worry about writing a great application message.
                    li.mb-3
                        //- i.mdi.mdi-check-circle.text-primary(aria-hidden="true")
                        span.font-weight-bold Be discoverable. 
                        | Make your profile visible and employers might just stumble on your profile. Let them do the work! 
