a.border-radius-5.col-sm-4.col-md-4.col-lg-4.col-xs-4.px-1.py-1(href='/job/' + job._id)
      .border-radius-5.img-overlay(style='background-image: url(' + pictureInfo.returnLarge(job.pictureUrl) + ');')
            .img-caption.col-lg-12.pl-3.pt-3
                  h4.text-white.mb-3 #{job.title}  