.col.px-0.border-right.border-pale-gray.my-1
    a.px-4.btn.btn-block.btn-white.text-dark(data-toggle='collapse', href='#' + filter.collapsible, role='button', aria-expanded='false', aria-controls=filter.collapsible)
        h3.mb-0
            i.mdi(aria-hidden='true' class=filter.icon)
        //- br
        .text-xsmall #{filter.tag}