#job-list
    .row.collapse.show#job-list-collapse
        .col-sm-12.col-md-12.col-lg-9
            each job in jobs
                .row
                    .col-sm-12.col-md-12.col-lg-12.mb-3
                        include job-card 
        .col-lg-3
            .sticky-top.sticky-under-nav.border.border-pale-gray.border-radius-5.text-dark.bg-white.p-3
                h2.font-weight-bold Not TEFL Certified yet?
                p The TEFL certificate can be your passport to a new career: teaching and travelling the globe.
                a.btn.btn-block.btn-primary(href='/tefl-express') Get TEFL Certified! 