.card.overflow-hidden
    .row
        .col-lg-3.pr-lg-0.col-md-12
            a.view.overlay.card-img(href="/job/" + job.url)
                .card-image-container.lazy-background(style='background-image: url(' + pictureInfo.returnThumbnail(job.pictureUrl) + ');')
        .col-lg-9.col-md-12.text--left.px-3.py-3
            .card-block.px-3.mx-0
                .row
                    .col-md-7.col-lg-8
                        h4.font-weight-bold.card-title.px-0 
                            a.text-dark.text-capitalize(href="/job/" + job.url)
                                | #{jadefunctions.formatString(job.title, 77)}
                    if (jobs && !jobs.noApply)
                        .col-md-5.col-lg-4.text-right.d-none.d-md-block.text-left.mb-3.mb-lg-1
                            a.btn.btn-sm.btn-link(href="/job/" + job.url) View Offer
                            a.btn.btn-sm.btn-primary.mr-1(href="/job/apply/" + job.url) Apply
                h6.card-subtitle.font-weight-light.mb-2.text-muted.text-capitalize #{jadefunctions.formatString(job.kicker, 85)}
                p.text-small !{job.description}
                include job-tags