-var filters = []
-var filterParent = 'job-filter-accordion'
-filters.push({tag:'Salary', icon: 'mdi-currency-usd', collapsible:'salaryFilter', input:'salary'})
-filters.push({tag:'Dates', icon: 'mdi-calendar', collapsible:'dateFilter', input:'dateFilter'})
-filters.push({tag:'Benefits', icon: 'mdi-home', collapsible:'accomodationFilter', input:'benefitsFilter'})
//- -filters.push({tag:'Class', icon: 'mdi-account', collapsible:'studentsFilter', input:'classFilter'})

.container-fluid.bg-white.border-bottom.border-pale-gray
    .container
        .row
            each filter in filters
                include filter-tab

.container-fluid.bg-white.border-bottom.border-light-secondary
    div(id=filterParent)
        each filter in filters 
            .collapse(id=filter.collapsible, data-parent='#' + filterParent)
                .container
                    .row
                        .col-12
                            if filter.input == 'salary'
                                .my-3
                                    include ./creation/salary-range-input-horiz
                        
                            if filter.input == 'dateFilter'
                                .row.mb-3
                                    .col-lg-12
                                        -var dateRange = {}
                                        -dateRange.label = 'Start date'
                                        -dateRange.datePicker1 = {}
                                        -dateRange.datePicker2 = {}

                                        -dateRange.datePicker1.id = 'start-date-from'
                                        -dateRange.datePicker1.name = 'startDateFrom'
                                        -dateRange.datePicker1.formName = formName
                                        //- -dateRange.datePicker1.class = 'filter'
                                        -dateRange.datePicker1.placeholder = 'From'
                                        -dateRange.datePicker1.errorMessage = 'Please select a date'
                                        -dateRange.datePicker1.required = true
                                        if responseInfo && responseInfo.startDateFrom
                                            -dateRange.datePicker1.value = responseInfo.startDateFrom
                                        
                                        -dateRange.datePicker2.id = 'start-date-to'
                                        -dateRange.datePicker2.name = 'startDateTo'
                                        -dateRange.datePicker2.formName = formName
                                        //- -dateRange.datePicker2.class = 'filter'
                                        -dateRange.datePicker2.placeholder = 'To'
                                        -dateRange.datePicker2.errorMessage = 'Please select a date'
                                        -dateRange.datePicker2.required = true
                                        if responseInfo && responseInfo.startDateTo
                                            -dateRange.datePicker2.value = responseInfo.startDateTo

                                        include ../templates/inputs/date-range
                        
                            if filter.input == 'benefitsFilter'

                                .row.mb-3
                                    .col-lg-6.form-group.mt-0
                                        -var select = {}
                                        -select.options = [{'value': -1, 'optionLabel': 'All'}, {'value': 1, 'optionLabel': 'Provided'}, {'value': 0, 'optionLabel': 'Not provided'} , {'value': 2, 'optionLabel': 'Partly provided'} ] 
                                        -select.id = 'accomodation'
                                        -select.name = 'accomodation'
                                        -select.label = 'Accomodation'
                                        -select.formName = formName
                                        -select.class = 'filter'
                                        -select.required = true;
                                        -select.crossRefAttributeValue = 'value'
                                        -select.crossRefAttributeName = 'optionLabel'
                                        include ../templates/inputs/generic-select

                                    .col-lg-6.form-group.mt-0
                                        -var select = {}
                                        -select.options = [{'value': -1, 'optionLabel': 'All'}, {'value': 1, 'optionLabel': 'Reimbursed'}, {'value': 0, 'optionLabel': 'Not reimbursed'}, {'value': 3, 'optionLabel': 'Inbound Flight Only'}, {'value': 2, 'optionLabel': 'Partly'} ] 
                                        -select.id = 'airfare'
                                        -select.name = 'airfare'
                                        -select.label = 'Airfare'
                                        -select.formName = formName
                                        -select.class = 'filter'
                                        -select.required = true;
                                        -select.crossRefAttributeValue = 'value'
                                        -select.crossRefAttributeName = 'optionLabel'
                                        include ../templates/inputs/generic-select
                include job-filters-footer
                        
                            //- if filter.input == 'classFilter'

                            //-     .row.mb-3.disabled
                            //-         .col-lg-6.form-group
                            //-             -var textInput = {}
                            //-             -textInput.id = 'institution'
                            //-             -textInput.name = 'institution'
                            //-             -textInput.responseSubProperty = 'teachingDetails'
                            //-             -textInput.placeholder = '(e.g. Public School, Training School, University, etc.)'
                            //-             -textInput.label = 'Institution Type'
                            //-             -textInput.formName = formName
                            //-             -textInput.class = formName
                            //-             -textInput.disabled = true
                            //-             -textInput.required = true;
                            //-             include ../templates/inputs/text-input

                            //-         .col-lg-6.form-group
                            //-             -var numberInput = {}
                            //-             -numberInput.id = 'weeklyLoad'
                            //-             -numberInput.label = 'Average Weekly Workload (hrs)'
                            //-             -numberInput.formName = formName
                            //-             -numberInput.class = formName
                            //-             -numberInput.placeholder = 'Enter a number'
                            //-             -numberInput.name = 'weeklyLoad'
                            //-             -numberInput.responseSubProperty = 'teachingDetails'
                            //-             -numberInput.min = 5    
                            //-             -numberInput.max = 40
                            //-             -numberInput.disabled = true
                            //-             -numberInput.errorMessage = 'Please enter a number between ' + numberInput.min + ' and ' + numberInput.max
                            //-             //- -numberInput.tooltip = 'Number of vacation days yearly'
                            //-             -numberInput.required = true
                            //-             include ../templates/inputs/generic-number-input 

                            //-         .col-lg-6.form-group
                            //-             -var select = {}
                            //-             -select.options = [{'value': 0, 'optionLabel': '0 - 10 students'}, {'value': 1, 'optionLabel': '11 - 20 students'}, {'value': 2, 'optionLabel': '21 - 30 students'}, {'value': 3, 'optionLabel': 'More than 30 students'} ] 
                            //-             -select.id = 'class-size'
                            //-             -select.name = 'classSize'
                            //-             -select.responseSubProperty = 'teachingDetails'
                            //-             -select.placeholder = 'Select one'
                            //-             -select.label = 'What is the typical class size'
                            //-             -select.formName = formName
                            //-             -select.class = formName
                            //-             -select.required = true;
                            //-             -select.disabled = true;
                            //-             -select.crossRefAttributeValue = 'value'
                            //-             -select.crossRefAttributeName = 'optionLabel'
                            //-             include ../templates/inputs/generic-select

                            //-         .col-lg-6.form-group
                            //-             -var select = {}
                            //-             -select.options = [{'value': 0, 'optionLabel': 'Children'}, {'value': 1, 'optionLabel': 'Teenagers'}, {'value': 2, 'optionLabel': 'University'}, {'value': 3, 'optionLabel': 'Adults'} ] 
                            //-             -select.id = 'age-group'
                            //-             -select.name = 'ageGroup'
                            //-             -select.responseSubProperty = 'teachingDetails'
                            //-             -select.placeholder = 'Please select on'
                            //-             -select.label = 'What age group do the students belong to?'
                            //-             -select.formName = formName
                            //-             -select.class = formName
                            //-             -select.required = true;
                            //-             -select.disabled = true;
                            //-             -select.crossRefAttributeValue = 'value'
                            //-             -select.crossRefAttributeName = 'optionLabel'
                            //-             include ../templates/inputs/generic-select
                                include job-filters-footer

