-var filters = []
-var filterParent = 'job-filter-accordion'
-filters.push({tag:'Salary', icon: 'mdi-currency-usd', collapsible:'salaryFilter', input:'salary'})
-filters.push({tag:'Date Range', icon: 'mdi-calendar', collapsible:'dateFilter'})
-filters.push({tag:'Accomodation', icon: 'mdi-home', collapsible:'accomodationFilter'})
-filters.push({tag:'Flight', icon: 'mdi-airplane', collapsible:'airfareFilter'})
-filters.push({tag:'Institution', icon: 'mdi-school', collapsible:'institutionFilter'})
-filters.push({tag:'Students', icon: 'mdi-account', collapsible:'studentsFilter'})

.container-fluid.bg-white.border-bottom.border-pale-gray
    .container
        .row
            each filter in filters
                include filter-tab

.container-fluid.bg-white.border-bottom.border-light-secondary
    .container
        .row
            .col-12(id=filterParent)
                each filter in filters 
                    .collapse(id=filter.collapsible, data-parent='#' + filterParent)
                        .card.card-body
                            if filter.input == 'salary'
                                include ./creation/salary-range-input