extends ../layout
block content
    //- include carousel
    //- include ../header/header
    //- include ../searchnavigation
    include join-banner
    //- .container
    //-     include ../populargrid/popularcategories
    //-     .clearfix
    include spotlight-information

    
