.container.my-5
    .row.align-items-center
        .col-lg-6.mb-5.mt-lg-0
            img.img-fluid(src="/images/chinag6.jpg", alt="Teach English Overseas")
        .col-lg-6
            h1.display-4.font-weight-bold Contribute to SLWorld
            h1 Make the ESL World a Better Place 
            p Second Language World catalogs every school, university and English organization in the World. Discover schools and cities through the words of teachers who have already experienced them and find which environment better fulfills your expectations

    //- .pt-5.pb-2
    //-     h1.display-4.text-center.font-weight-bold Contribute to SLWorld 
    //-     p.text-center.text-muted Check out our schools and jobs around the World 