.container
  hr
.container.my-5
    .row
      .col-md-12.text-center.mb-5
        h1.display-4.font-weight-bold Authentic Content
        p Written by TEFL teachers to help the community 
    .row.align-items-center
        .col-lg-6.order-lg-2.mb-5.mt-lg-0
            img.img-fluid(src="/images/classroom.jpg", alt="Teach English Overseas")
        .col-lg-6.order-lg-1 
            h1 Focused on information
            p Our main mission is to provide you with information about the schools you are looking into. Whether those are shun under a positive light will be reflected by the quality of the organizations.
            h1 Detailed Presentation
            p Schools are cataloged indivually so future teachers know what to expect from the specific location they are applying for, instead of grouped under a franchise name or an organization.
            h1 Real Reviews
            p The reviews are 100% legitimate. Teachers like you willingly chose to share their experience and the range of pictures will extensively cover what the schools are truly about.

//- .container
//-   hr
