.container-fluid
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    #splash.splash.row.justify-content-center
        .splash-image-container
            .splash-image(style="background-image: url('" + splashText.image + "');")
        .splash-text.col-sm-12.col-md-9.col-lg-9.my-auto
            .row.justify-content-center
                //- h3.col-lg-12.mt-1.mb-5 Discover what opportunities lie ahead. Right here, right now.
                h1.col-lg-12.display-1.milkshake
                    | Teach around the    
                    span.text-primary world 
            include ../search/typeahead-search/splash-search