extends ../layout
block content
    include carousel
    include ../searchnavigation
    include join-banner
    //- include takeaction
    //- .container
    //-     include ../populargrid/popularcategories
    //-     .clearfix

    .container
        .pt-5.pb-2
            h1.display-4#popular-cities.text-center.font-weight-bold Work for these 
                span.text-muted schools*
            p.text-center.text-muted Check out their schools around the World 
            
        include ../companylist
        //- .py-5
        //-     h1#popular-cities.text-center.font-weight-light Featured Schools
        //-     p.text-center Check out our schools accross China 
        //-     hr
        //- .card-columns
        //-     include ../schoollist
        //-     include ../sidebar
