extends ../layout
block content
    include carousel
    include ../fcb-js-sdk

    .container
        .pt-5.mt-5.pb-2
            h1.display-4.text-center.font-weight-bold Find Jobs Around The World!
            p.text-center.text-muted Find out about schools in beautiful locations around the World 
            //- hr
        include ../job/featured-jobs

    .container
        .pt-5.mt-5.pb-2
            h1.display-4.text-center.font-weight-bold Discover amazing new places!
            p.text-center.text-muted Find out about schools in beautiful locations around the World 
            //- hr
        include ../populargrid/popularprovinces

    .container
        .pt-5.mt-5.pb-2
            h1.display-4.text-center.font-weight-bold Work for these 
                span.text-muted(data-toggle='tooltip', data-placement='right', title='These are franchises whose schools are scattered around the World. For unaffiliated schools use the search function or find the company') companies*
            p.text-center.text-muted Check out their locations around the World 
            
        -var companies = popularCompanies
        include ../company/companylist
    
