.py-5
    .container
        .row.justify-content-center
            h1.display-4.text-center.font-weight-bold How does it work?
        .row.justify-content-center.my-5
            .col-md-6
                -var stepIcon = 'mdi-view-list'
                -var stepTitle = 'Search our Job Board'
                -var stepText = 'Find amazing ESL opportunities to teach across the world and read all about the offer and its location.'
                include how-it-works-step
            .col-md-6
                -var stepIcon = 'mdi-map-marker'
                -var stepTitle = 'Create A Profile'
                -var stepText = 'When you find a job, register to Second Language World and fill in your teacher information booklet.'
                include how-it-works-step
            .col-md-6
                -var stepIcon = 'mdi-briefcase-download'
                -var stepTitle = 'Apply for a job'
                -var stepText = 'Apply to any job you\'re interested in! Just write the employer a message and we\'ll forward your info.'
                include how-it-works-step
            .col-md-6
                -var stepIcon = 'mdi-forum'
                -var stepTitle = 'Wait for a reply'
                -var stepText = 'Get your replies on here or by email. Then visit the company and school profiles to see what other teachers had to say about them!'
                include how-it-works-step
        .row.justify-content-center
            .col-md-12.text-center
                a.px-5.btn.btn-lg.btn-primary(href='/search') Get started!
