.bg-dark.text-light.border-top.py-5
  .container
    .row
      .col-lg-6.col-md-12.col-sm-12
        h1.display-4.font-weight-bold.pb-3 Let's Work Together! 
        h3.font-weight-light.pb-3 Help other ESL teachers benefit from your experience as well by sharing! 
        .btn-group
          a.btn.btn-primary(href="/review") Review a School
          //- a.px-2.btn.btn-primary
          //-   i.mdi.mdi-chevron-double-right(aria-hidden='true')
