.bg-dark.text-light.border-top
  .container.text-center
    .row.justify-content-center
      .col-lg-7.col-md-8.col-sm-8.mt-2
        h4.font-weight-light.py-3 Let others benefit from your experience as well by sharing! 
      .col-lg-4.col-md-4.col-sm-4
        h4.py-3
          .btn-group
              a.btn.btn-primary Review a School
              a.px-2.btn.btn-primary
                i.mdi.mdi-chevron-double-right(aria-hidden='true')