.col-lg-10.col-md-8.pr-md-0.my-3
      .form-group.search-nav-form.mt-0
            input#queryInfo.typeahead.typeahead-scrollable.form-control.search-filter.form-form-0(name="queryInfo" datasets="schools jobs provinces cities" placeholder="What are you looking for?" value=queryInfo type="text" autofocus)

.col-lg-2.col-md-4.mb-3.my-0.mt-md-3
      button.btn.btn-rounded.btn-primary.btn-block.border-0.my-0(type='submit') 
            //- i.mdi.mdi-magnify(aria-hidden='true')
            span  Let's go!