.col-xl-9.col-lg-9.col-md-9.pr-md-0.my-3
      .form-group.search-nav-form.mt-0
            input#queryInfo.typeahead.typeahead-scrollable.form-control.search-filter.form-form-0(name="queryInfo" datasets="provinces cities schools jobs" placeholder="Where do you want to go?" value=queryInfo type="text")

.col-xl-3.col-lg-3.col-md-3.mb-3.my-0.mt-md-3
      button.btn.btn-rounded.btn-primary.btn-block.border-0.my-0(type='submit') 
            span  Let's go!