.col-lg-10.col-md-8.my-3.pr-1
      .form-group.search-nav-form
            input#queryInfo.typeahead.typeahead-scrollable.form-control.search-filter.form-form-0(name="searchInfo" datasets="schools jobs provinces cities" placeholder="What are you looking for?" value=queryInfo type="text")

.col-lg-2.col-md-4.my-3.pl-1
      button.col-sm-12.btn.btn-rounded.btn-primary.border-0.my-0(type='submit') 
            //- i.mdi.mdi-magnify(aria-hidden='true')
            span  Let's go!