.container
        .row.justify-content-center
      
            nav.col-md-12.col-lg-10#search-navigation.navbar-expand-lg.bg-pale-gray.border-radius-5
                  form#search-all.pt-lg-0(role='search', action='/search', method='GET')
                        .row
                              -var magnify = false;
                              include ./search-all
        include ../populargrid/popular-provinces-buttons
