.container
      nav#search-navigation.navbar-expand-sm.bg-dark-transparent.border-radius-5
            form#search-all.col-md-12.pt-lg-0(role='search', action='/search', method='GET')
                  .row
                        -var magnify = false;
                        include ./search-all