.text-center
  .step-indicator.mx-auto.my-3.border-radius-circle.border-1-primary.bg-primary
    h1.mt-3 
        i.text-white.mdi(aria-hidden='true', class=stepIcon)
-stepValue = {}

//- .text-center
//-   .step-indicator.my-3.border-radius-circle.border-1-primary
//-     h1.mt-1 #{stepValue}
//- -stepValue = {}