//- .container.pt-5.pb-5
//-   h1.text-center.font-weight-light Contribute to SLWorld
//-   p.text-center Help teachers and schools all around the world to find their match and make the World a better place
//-   hr

.container-fluid
  .row.bg-light.font-weight-light
    .col-lg-1
    .col-lg.take-action
      .row.my-4
        .col-2.text-center
          h1.text-primary
            i.mdi.mdi-school(aria-hidden='true')
        .col-10
          h3.font-weight-light Add School
          p Contribute to our school database by adding your own school's information and help future teachers write reviews about it
          a(href="#") Read more
            i.mdi.mdi-chevron-double-right(aria-hidden='true') 
    
    
    .col-lg.take-action.bg-gradient-primary
      .row.my-4.text-light
        .col-2.text-center.align-middle
          h1
            //- i.mdi.mdi-message-draw(aria-hidden='true')
            i.mdi.mdi-tooltip-text(aria-hidden='true')
        .col-10
          h3.font-weight-light Write A Review 
          p Our main mission is to provide you with information about the schools you are looking into. Whether those are shun under a positive light or not is none of our business.
          a.text-light(href="/review") Read more
            i.mdi.mdi-chevron-double-right(aria-hidden='true')
    
    
    .col-lg.take-action
      .row.my-4
        .col-2.text-center
          h1.text-primary
            i.mdi.mdi-briefcase-download(aria-hidden='true')
        .col-10
          h3.font-weight-light Post A Job Offer
          p Our main mission is to provide you. Whether those are shun under a positive light or not is none of our business.
          a(href="#") Read more
            i.mdi.mdi-chevron-double-right(aria-hidden='true') 

    .col-lg-1