.col-lg-6.mb-5
    .row
        .col-4
            a.view.overlay.card-img(href='#')
                .image-container.border-radius-top-5.lazy-background(style='background-image: url(' + tefl.img + ');')           
        .col-8.text-left
            h4.font-weight-bold.card-title.px-0 
                a.text-dark.text-capitalize(href='#')
                    | #{tefl.title}
            hr
            p.text-small #{tefl.description}
            a.btn.btn-primary.btn-sm.btn-white.mr-2(href='#') Buy Now!
            a.btn.btn-outline-primary.btn-sm.btn-white(href='#') More Info
