a.border-radius-5.col-sm-8.col-md-8.col-lg-8.col-xs-8.px-1.py-1(href='/search?queryInfo=&province=' + item.code + '&city=-1')
      .border-radius-5.img-overlay.lazy-background(style='background-image: url(' + pictureInfo.returnThumbnail(item.picture) + ');')
            .img-caption.fixed.col-lg-12.pl-3.pt-3
                  include ./cell-text
