-var max = 7;
if popularProvinces.length < 7
      - max = popularProvinces.length
.row
      - for (var i = 0; i < max; ++i)
            - var item = {code:popularProvinces[i]._id.code, picture:popularProvinces[i].pictureUrl, pName:popularProvinces[i]._id.name, cName:popularProvinces[i]._id.chineseName, number:popularProvinces[i].number}
            if(i == 0 || i == 6)
                  include largecell
            else
                  include smallcell
