- var ncities = "cities"
- var nprovinces = "provinces"
if isSidebar
   - ncities = "cities2"
   - nprovinces = "provinces2"

.cards.col-xs-12.col-xs-offset-0.col-sm-12.col-sm-offset-0.col-md-12
   ul.nav.nav-pills
      li.active
         a.no-padding-left(data-toggle="pill" href="##{nprovinces}") Popular Provinces
      li
         a(data-toggle="pill" href="##{ncities}") Popular Cities
   .tab-content
      .tab-pane.fade.in.active(id="#{nprovinces}")
         include popularprovinces
      .tab-pane.fade(id="#{ncities}")
         include popularcities
   .clearfix