- var ncities = "cities"
- var nprovinces = "provinces"
if isSidebar
   - ncities = "cities2"
   - nprovinces = "provinces2"

.popular-categories.col-xs-12.col-xs-offset-0.col-sm-12.col-sm-offset-0.col-md-10.col-md-offset-1
   ul.nav.nav-pills
      li
         a(data-toggle="pill" href="##{ncities}") Popular Cities
      li.active
         a(data-toggle="pill" href="##{nprovinces}") Popular Provinces
   .tab-content
      .tab-pane.fade(id="#{ncities}")
         include popularcities
      .tab-pane.fade.in.active(id="#{nprovinces}")
         include popularprovinces
   .clearfix