footer.bg-dark.text-light-secondary.font-weight-light.py-5.border-top.border-gray
    .container
        .row.justify-content-center
            .col-auto
                a.text-uppercase.navbar-brand.mb-3(href='/')
                    .image-brand.mr-3(alt='Second Language World')

        .row.text-white
            .col-md-3.py-3
                h4.text-uppercase.text-small.text-lightgreen.mb-3 Explore
                //- a.text-white(href='/about') secondlanguageworld@gmail.com
                p.text-small.text-muted Second Language World is based in Montreal, Canada.    
                
                hr 
                ul.list-unstyled
                    li.mb-1
                        a.text-white(href='/search') Job Board
                        hr
                    li.mb-1
                        a.text-white(href='/review') Review
                        hr
                    li.mb-1
                        a.text-white(href='/about') About
                        hr
                    li.mb-1
                        a.text-white(href='/article') Blog
                        hr

            .col-md-3.py-3
                h4.text-uppercase.text-small.text-lightgreen.mb-3 Connect
                p.text-small.text-muted Second Language World is happy to connect with users from all around the world on Facebook.    
                ul.list-unstyled
                    li.mb-1
                        p.mb-1.text-white Email
                        a.mt-1(href='mailto:secondlanguageworld@gmail.com') secondlanguageworld@gmail.com
                    li.mb-1
                        a.mb-1.text-white(href='https://www.facebook.com/secondlanguageworld/') Facebook
                        .mt-1.fb-page.mb-3(data-href='https://www.facebook.com/secondlanguageworld/', data-tabs='timeline', data-height='70', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/secondlanguageworld/')
                                a(href='https://www.facebook.com/secondlanguageworld/') Second Language World

            .col-md-6.py-3
                h4.text-uppercase.text-small.text-lightgreen.mb-3 Contact Us 
                p.text-small.text-muted For business inquiries or to learn more about Second Language World, feel free to contact us. An email address and a concise message is all you need. Our team will be more than happy to assist you!    
                form#form-contact-us(action='/contactus', method='POST')
                    .form-group
                        -var textInput = {}
                        -textInput.id = 'email-contact'
                        -textInput.name = 'emailContact'
                        -textInput.formName = 'form-contact-us'
                        -textInput.placeholder = 'Your Email'
                        -textInput.label = 'Your Email'
                        -textInput.required = true
                        -textInput.default = true;
                        include ../input-templates/text-input
                        
                        -var textArea = {}
                        -textArea.id = 'textarea'
                        -textArea.name = 'message'
                        -textArea.label = 'Your message'
                        -textArea.placeholder = 'Your message'
                        -textArea.rows = 3
                        -textArea.required = true
                        include ../input-templates/text-area
                    button.btn.btn-lightgreen.btn-sm.ml-0.mt-3(class='', type='submit') Submit