extends ../layout
block content
    .container
        .row.justify-content-center.my-5
            .col-lg-8.card.card-body.my-3
                h2.font-weight-light.border-bottom.border-gray.pb-2 Create a New Company
                form(action='/company/addcompany', method='POST')
                    //- p.py-3 Before considering this, please make sure you have looked thoroughly to make sure the school you are looking for doesn't exist by a similar yet different name somewhere on our site!
                    .row
                        .col-lg-12
                            .form-group
                                .row
                                    .col-lg-12
                                        .md-form
                                            input#addSchoolName(type='text', name='name', class='form-control', placeholder='Company Name', required)
                                            label(for='inputIconEx1') Company Name
                                .row.my-3
                                    
                                    hr
                                    .col-lg-6
                                        #preview-new-company-picture.image-container.image-container-default.bg-primary
                                    .col-lg-6
                                        h3 Company Cover Picture
                                        .md-form
                                            .file-field
                                                .btn.btn-primary.btn-sm.float-left.ml-0
                                                    span Choose photo
                                                    input#new-company-picture(type='file', required)
                                                    input#url-new-company-picture.d-none(name="urlNewCompanyPicture" accept="image/*" value="/public/default.png" required)
                                                .file-path-wrapper
                                                    input.file-path.validate(type='text', placeholder='Upload your file')
                                        .progress(style='height: 12px')
                                            #progress-new-company-picture.progress-bar.bg-primary(role='progressbar', style='width: 0%; height: 12px', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                                            span.sr-only 0% Complete
                                .row.my-3
                                    hr
                                    .col-lg-6
                                        #preview-new-company-logo.image-container.image-container-default.bg-primary
                                    .col-lg-6
                                        h3 Company Logo
                                        .md-form
                                            .file-field
                                                .btn.btn-primary.btn-sm.float-left.ml-0
                                                    span Choose photo
                                                    input#new-company-logo(type='file', required)
                                                    input#url-new-company-logo.d-none(name="urlNewCompanyLogo" accept="image/*" value="/public/default.png" required)
                                                .file-path-wrapper
                                                    input.file-path.validate(type='text', placeholder='Upload your file')
                                        .progress(style='height: 12px')
                                            #progress-new-company-logo.progress-bar.bg-primary(role='progressbar', style='width: 0%; height: 12px', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                                            span.sr-only 0% Complete
                        .col-lg-12
                            .form-group
                                .md-form
                                    i.fa.fa-globe.prefix
                                    input#addCompanyWebsite(type='text', name='website', class='form-control', placeholder='Website URL(not required)')
                                    label(for='inputIconEx1') Website
                        .col-lg-12
                            .md-form
                                i.fa.fa-pencil.prefix
                                textarea#textareaPrefix.form-control.md-textarea(type='text', name='description', rows='5', required)
                                label(for='textareaPrefix') Description

                    button.btn.btn-primary.float-right(type='submit') Create Company

    //- div.container.login-page
    //-     div.login-form.col-sm-10.offset-sm-1.col-md-10.offset-md-1.col-lg-8.offset-lg-2
    //-         .panel.panel-default
    //-             .panel-body.flat-body
    //-                 h3.text-center.login-title Create New Company
    //-                 form(action='/company/addcompany', method='POST')
    //-                     .form-group
    //-                         label.control-label(for='Name') Name
    //-                         input(type='text', name='name', class='form-control', placeholder='Company Name',required, autofocus)
    //-                     .form-group
    //-                         label.control-label(for='Picture') Picture
    //-                         .progress
    //-                             #progress-bar-picture.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
    //-                                 span.sr-only 0% Complete
    //-                         img#preview.img-thumbnail.col-sm-12.col-md-12.col-lg-12(src="/images/default.png")
    //-                         input#avatarUrl(type="hidden" name="pictureUrl" accept="image/*" value="/public/default.png")
    //-                         span(class="btn btn-default btn-file") Browse
    //-                             input#file_input(type="file")
    //-                     .form-group
    //-                         label.control-label(for='Logo') Logo
    //-                         .progress
    //-                             #progress-bar-picture2.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
    //-                                 span.sr-only 0% Complete
    //-                         img#preview2.img-thumbnail.col-sm-12.col-md-12.col-lg-12(src="/images/default.png")
    //-                         input#logoUrl(type="hidden" name="logoUrl" accept="image/*" value="/public/default.png")
    //-                         span(class="btn btn-default btn-file") Browse
    //-                             input#file_input2(type="file")
    //-                     .form-group
    //-                         label.control-label(for='Website') Website
    //-                         input(type='text', name='website', class='form-control', placeholder='Website URL')
    //-                     .form-group
    //-                         label.control-label(for='Description') Description
    //-                         textarea#description-textarea(rows='20', name='description', class='form-control', placeholder='Description', style="width: 100%", required)
    //-                     button(class='btn btn-lg btn-primary btn-block btn-eic', type='submit') Submit
    //-                     span.clearfix
    //-                 #message
    //-                     if message
    //-                         h1.text-center.error-message #{message}
