nav(aria-label='breadcrumb')
  ol.bg-inherit.breadcrumb.mb-0.pl-0
    i.text-lightgreen.mdi.mdi-map-marker.mr-2(aria-hidden='true')
    li.breadcrumb-item
      a.text-lightgreen(href='/') Home
    li.breadcrumb-item
      a.text-lightgreen(href='/company/search') Companies
    li.breadcrumb-item.active(aria-current='page')
      a.text-lightgreen(href='/school/search?queryInfo=&province=-1&city=') #{company.name}