.bg-dark
    .container
        #local-nav.classic-tabs
            ul.nav.tabs-dark(role='tablist')
                li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#description', role='tab') Description
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#locations', role='tab') Locations
                //- li.nav-item
                //-     a.nav-link(data-toggle='tab', href='#photos', role='tab') Photos
                //- li.nav-item
                //-     a.nav-link(data-toggle='tab', href='#reviews', role='tab') Reviews