.md-form
    select#companySelect.mdb-select(name="company", form="add-school-form")
        option(value='-1', selected='') Company
        each company in companies
            option(value=company.id) #{company.name}