.text-left.mb-3
      form.col-sm-12.px-0.pt-3.pt-lg-0(role='search', action='/company/search', method='GET')
            .row
                  .col-lg-9.mt-2
                        .md-form
                              i.fa.prefix.mdi.mdi-magnify(aria-hidden='true')
                              input#searchCompanies.form-control(type='text', value='', name='companyInfo')
                              label(for='companyInfo') Search Companies
                  .col-lg-3.mt-2
                        button.col-sm-12.btn.btn-rounded.btn-lg.btn-primary.border-0(type='submit') 
                              i.mdi.mdi-magnify(aria-hidden='true')
                              span  Search

if companies
      .row
            each company in companies
                  .col-sm-12.col-md-6.col-lg-4.mb-3
                        include companycard
            .col-sm-12.col-md-6.col-lg-4.mb-3
                  .card.bg-primary.text-white.text-center
                        .card-body
                              a.btn.btn-link.mr-1(href='') 
                                    span.text-white See All Companies
                                    i.mdi.mdi-chevron-double-right.text-white(aria-hidden='true') 