nav.navbar.pre-header.navbar-dark.bg-dark.navbar-expand-sm
  .container
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarsExampleContainer', aria-controls='navbarsExampleContainer', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleContainer.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.padding-first-left(href='#')
            i.mdi.mdi-facebook-box(aria-hidden='true')
        li.nav-item
          a.nav-link.padding-first-left(href='#')
            i.mdi.mdi-twitter-box(aria-hidden='true')
        li.nav-item
          a.nav-link.padding-first-left(href='#')
            i.mdi.mdi-skype(aria-hidden='true')
        li.nav-item
          a.nav-link.padding-first-left(href='#')
            i.mdi.mdi-linkedin-box(aria-hidden='true')
            | SLWorld
        li.nav-item
          a.nav-link.padding-first-left(href='#')
            i.mdi.mdi-map-marker(aria-hidden='true')
            | Based in Montreal, Canada 	
        li.nav-item
          a.nav-link(href='#')
            i.mdi.mdi-email(aria-hidden='true')
            | secondlanguageworld@gmail.com

