extends ../../layout
block content
    .container.py-5
        .row
            .col-lg-12
                h1.milkshake Thank you!
                h2 Your message has been sent, the employer will receive it shortly.
                a.btn.btn-md.btn-primary.btn-rounded.nextBtn(href='/search') 
                    | Back to job board
                a.btn.btn-md.btn-mdb-color.btn-rounded.prevBtn(href='/job/' + job.id) 
                    | View Job Offer


        
    