.step-wrapper.border-radius-5.bg-light.mx-1.border-top-5-primary
        a.py-3.row(href='#',  data-toggle='tooltip', data-placement='top', title=formTab.text) 
            .col-md-4.col-sm-12.text-sm-center.text-md-left
                i.ml-md-4.text-lightgreen.mdi(aria-hidden='true' class=formTab.mdi)
            .col-8.d-none.d-md-block
                .font-weight-bold #{formTab.text}

-var formTab = {}