extends ../../layout
block content
    form#job-form(action='/job', method='POST' novalidate='')
        .container
    
            //- include default-job-info
            .row
                .col-12
                    #teacher-profile-vp.border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.py-5.px-md-5.mt-3
                        #vp-close.vp-x.mdi.mdi-close-circle.text-light-secondary
                        .row.justify-content-center.align-items-center
                            .col-lg-6.text-center
                                h1.milkshake One last thing!
                                ul.col-lg-12.list-checkmarks.list-checkmarks-pointers.text-left
                                    li.mb-3
                                        span.font-weight-bold Job opportunities appear automatically on the job board during the first 30 days.
                                        | Offers might still appear in other parts of the website, such as featured jobs in the same area while a user is consulting a job opportunity.
                                .row
                                    .col-lg-12.col-sm-12.mb-2
                                        a#gotit-vp.btn.btn-outline-primary.px-3.btn-block(href='#') Got it!
            .row
                .col-md-12.col-sm-12.col-lg-12.my-3
                    .border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.px-md-5
                        a.collapse-link(data-toggle='collapse', href='#job-general-info-collapse', role='button', aria-expanded='false', aria-controls='job-general-info-collapse')
                            h1.text-muted.my-5.font-weight-bold 
                                i.mdi.mdi-numeric-1-circle-outline(aria-hidden='true')
                                |  Job Information      
                                i#job-general-info-collapse-chevron.mdi.mdi-chevron-down(aria-hidden='true')
                        .collapse#job-general-info-collapse  
                            -formName = 'job-form'
                            include job-general-information
            .row
                .col-md-12.col-sm-12.col-lg-12.mb-3
                    .border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.px-md-5
                        a.collapse-link(data-toggle='collapse', href='#job-details-collapse', role='button', aria-expanded='false', aria-controls='job-details-collapse')
                            h1.text-muted.my-5.font-weight-bold 
                                i.mdi.mdi-numeric-2-circle-outline(aria-hidden='true')
                                |  Job Details      
                                i#job-details-collapse-chevron.mdi.mdi-chevron-down(aria-hidden='true')
                        .collapse#job-details-collapse  
                            -formName = 'job-form'
                            include job-details
            
            .row
                .col-md-12.col-sm-12.col-lg-12.mb-3
                    .border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.px-md-5
                        .row.py-3
                            //- .col-6
                            //-     button.btn.btn-lg.btn-block.btn-outline-primary(type='button') 
                            //-         i.mdi.mdi-content-save(aria-hidden='true')
                            //-         |  Save Draft
                            .col-12.col-md-6
                                button#submit-job.btn.btn-lg.btn-block.btn-primary(type='submit') 
                                    i.mdi.mdi-publish(aria-hidden='true')
                                    |  Publish Job Offer
                                    
                                #job-creation-error-box.danger-light.d-none.border.border-pale-gray.border-radius-5.bg-white.text-dark.mt-2.px-2.text-error.text-small
                                    p.mt-2.text-red#form-invalid There are fields that weren't filled properly, please take a look and retry!
                                    ul#job-creation-error-list