.row
    .col-lg-6
        -var textInput = {}
        -textInput.id = 'title'
        -textInput.name = 'title'
        -textInput.placeholder = 'Enter a title...'
        -textInput.label = 'Job Title'
        -textInput.formName = formName
        -textInput.class = formName
        -textInput.max = 100
        -textInput.min = 10
        -textInput.required = true
        -textInput.errorMessage = 'Please provide a title for your job (between ' + textInput.min + ' and ' + textInput.max + ' characters)'
        include ../../templates/inputs/text-input
    .col-lg-6
        -var textInput = {}
        -textInput.id = 'kicker'
        -textInput.name = 'kicker'
        -textInput.placeholder = 'Enter a kicker...'
        -textInput.label = 'Kicker'
        -textInput.formName = formName
        -textInput.class = formName
        -textInput.required = true
        -textInput.min = 10
        -textInput.max = 120
        -textInput.errorMessage = 'Please provide a subtitle for your job (between ' + textInput.min + ' and ' + textInput.max + ' characters)'
        -textInput.tooltip = 'Also called "subtitle", this is supplementary information to add to the title';
        include ../../templates/inputs/text-input

.row
    .col-lg-6
        -var select = {}
        -select.options = provinces 
        -select.label = 'Province'
        -select.placeholder = 'Province'
        -select.name = 'provinceCode'
        -select.id = 'provinceSelect'
        -select.formName = formName
        -select.class = formName
        -select.crossRefAttributeValue = 'code'
        -select.crossRefAttributeName = 'name'
        -select.required = true
        include ../../templates/inputs/generic-select 

    .col-lg-6
        -var select = {}
        -select.options = cities 
        -select.disabled = true
        if cities
            -select.disabled = false 
        -select.label = 'City'
        -select.placeholder = 'City'
        -select.name = 'cityCode'
        -select.id = 'citySelect'
        -select.formName = formName
        -select.class = formName
        -select.crossRefAttributeValue = 'code'
        -select.crossRefAttributeName = 'pinyinName'
        -select.required = true
        include ../../templates/inputs/generic-select 

.row.mt-3
    .col-lg-12
        hr

.row
    .col-lg-12
        -var textArea = {}
        -textArea.id = 'tinymce-textarea'
        -textArea.label = 'Description'
        -textArea.name = 'description'
        -textArea.undertext = 'Please provide a description for the job. For example this could include things such as the work environment and the responsibilities of teachers in the school, as well as the size of the school and the amenities. Teachers might also be interested in learning a little bit about the city it is located in.'
        -textArea.rows = 10
        -textArea.formName = formName
        -textArea.class = formName
        -textArea.required = true
        include ../../templates/inputs/text-area
            
.row.mt-3
    .col-lg-12
        hr

.row
    -var fileInput = {}
    -fileInput.label = 'Choose photo'
    -fileInput.undertext = 'This picture will be featured both on the job ad in multiple lists accross Second Language World, but also as a center piece of the job advertisement page. It is recommended to upload a high resolution picture.'
    -fileInput.placeholder = 'Upload a picture'
    -fileInput.name = 'pictureFileName'
    -fileInput.id = 'job-offer-picture'
    -fileInput.urlName = 'pictureUrl'
    -fileInput.formName = formName
    -fileInput.class = formName
    -fileInput.isPicture = true
    -fileInput.required = true
    include ../../templates/inputs/file-uploader-picture
