extends ../../layout
block content
    form#job-form(action='/job/edit', method='POST' novalidate='')
        .form-group.d-none
            input.form-control.form-control-lg(type='text', name='jobId', placeholder='ID', value=responseInfo.id)
        .container
            .row
                .col-md-12.col-sm-12.col-lg-12.my-3
                    .border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.px-md-5
                        a.collapse-link(data-toggle='collapse', href='#job-general-info-collapse', role='button', aria-expanded='false', aria-controls='job-general-info-collapse')
                            h1.text-muted.my-5.font-weight-bold 
                                i.mdi.mdi-numeric-1-circle-outline(aria-hidden='true')
                                |  Job Information      
                                i#job-general-info-collapse-chevron.mdi.mdi-chevron-down(aria-hidden='true')
                        .collapse.show#job-general-info-collapse  
                            -formName = 'job-form'
                            include job-general-information
            .row
                .col-md-12.col-sm-12.col-lg-12.mb-3
                    .border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.px-md-5
                        a.collapse-link(data-toggle='collapse', href='#job-details-collapse', role='button', aria-expanded='false', aria-controls='job-details-collapse')
                            h1.text-muted.my-5.font-weight-bold 
                                i.mdi.mdi-numeric-2-circle-outline(aria-hidden='true')
                                |  Job Details      
                                i#job-details-collapse-chevron.mdi.mdi-chevron-down(aria-hidden='true')
                        .collapse#job-details-collapse  
                            -formName = 'job-form'
                            include job-details
            
            .row
                .col-md-12.col-sm-12.col-lg-12.mb-3
                    .border.border-pale-gray.border-radius-5.bg-white.text-dark.px-3.px-md-5
                        .row.py-3

                            .col-12.col-md-6
                                button#submit-job.btn.btn-lg.btn-block.btn-primary(type='submit') 
                                    i.mdi.mdi-autorenew(aria-hidden='true')
                                    |  Publish Changes
                                    
                                #job-creation-error-box.danger-light.d-none.border.border-pale-gray.border-radius-5.bg-white.text-dark.mt-2.px-2.text-error.text-small
                                    p.mt-2.text-red#form-invalid There are fields that weren't filled properly, please take a look and retry!
                                    ul#job-creation-error-list