//- h2.font-weight-light Description

if element.splitDescription
      .description !{element.splitDescription.short}
      #collapseDescription.clearfix.collapse(aria-labelledby='headingPhoto', data-parent='#accordion-photo')
            .description !{element.splitDescription.long}
                              
      #show-more.row.mb-3.show-more
            .col-12
                  a(data-toggle='collapse', href='#collapseDescription', role='button', aria-expanded='false', aria-controls='collapseDescription')
                        | Show more 
                        i.mdi.mdi-chevron-down(aria-hidden='true')
      #show-less.row.my-3.show-more.d-none
            .col-12
                  a(data-toggle='collapse', href='#collapseDescription', role='button', aria-expanded='false', aria-controls='collapseDescription')
                        | Show less 
                        i.mdi.mdi-chevron-up(aria-hidden='true')

else
  .description !{element.description}
