.card-body
    h1.text-center.font-weight-heavy(class=small? 'display-4' : 'display-2' ) #{avgRating}
    h1.text-center.display-5.text-primary
        include ../genrating
    if reviewsCount      
        h4.font-weight-light.display-5.text-center
            i.mdi.mdi-account(aria-hidden='true')
            | #{reviewsCount} review(s)
