block content
      .row
            each review in reviews
                  .col-sm-12.col-md-6.col-lg-4.mb-3
                        include reviewcard
<<<<<<< Updated upstream
            include ../noreviewcard
=======
            include ../noreviewcard
>>>>>>> Stashed changes
