block content
      if schools.length > 0
            .row.collapse#school-list-collapse(class=visibility)
                  each school in schools
                        .col-sm-12.col-md-12.col-lg-12.mb-3
                              include schoolcard-hor

-visibility = false