extends ../layout
block content
      .school-page.mb-5
            include schoolheader
            .container-fluid.bg-light.border-top.py-2.border-bottom
                  .container.mb-1
                        include locationbreadcrumb
            .container.bg-white.pt-3           
                  .row
                        .description.col-sm-12.col-lg-8
                              -var element = school;
                              include description
                              //- if(relatedSchools)
                              //-    .page-block.col-xs-12.col-sm-12.col-md-12.col-lg-4.visible-lg
                              //-       -var relatedschools = relatedschools
                              //-       include relatedschools
                              //- include schooladminsection
                        .col-lg-4
                              include ratingcard
                              -var query = '?schoolId=' +  school.id;
                              a.btn.btn-lg.btn-block.btn-primary.mb-2(href='/review' + query)
                                    i.mdi.mdi-plus-circle(aria-hidden='true')
                                    span  Write a Review
                              a.btn.btn-lg.btn-block.btn-primary(href="/school/addphoto/" + school.id)
                                    i.mdi.mdi-plus-circle(aria-hidden='true')
                                    span  Add a Picture

                  .photos.mt-5.clearfix
                        h1.display-4#popular-cities.text-center.font-weight-bold.text 
                              //- i.mdi.mdi-image(aria-hidden='true')
                              | Photos
                        p.text-center.text-muted What others have been saying about #{school.name}
                        hr
                        -var photos = school.photos
                        -var itemId = school.id
                        include ../photogrid

                  .reviews.mt-5.clearfix
                        h1.display-4#popular-cities.text-center.font-weight-bold.text 
                              //- i.mdi.mdi-message-text.display-7.text-muted(aria-hidden='true')
                              |  Reviews 
                        p.text-center.text-muted What others have been saying about #{school.name}. #{reviewsCount} Reviews
                        hr
                        include schoolreviews
                        if reviewsCount > 6
                              #load-more-reviews.btn.btn-secondary.btn-lg Load More


                  if school.averageRating != -1
                        .ratings.mt-5.clearfix
                              h1.display-4#popular-cities.text-center.font-weight-bold.text 
                                    //- i.mdi.mdi-message-text.display-7.text-muted(aria-hidden='true')
                                    |  Rating 
                              p.text-center.text-muted Distribution and breakdown of the reviews for #{school.name}
                              hr
                              include schoolbreakdown
