.row 
      ul.chart.pl-0.mb-0
            - for (var i = 0; i < criteria.length; ++i)
                  - var value = criteriaScore['c' + (i+1)]
                  if(breakdownSm)
                        li.col-sm-12.col-md-6.col-lg-6(title=criteria[i].shortName + " " + jadefunctions.roundToDecimalPlace(value, 1) + " ★")
                              include bar
                  else
                        li.col-sm-12.col-md-6.col-lg-3.mb-3(title=criteria[i].shortName + " " + jadefunctions.roundToDecimalPlace(value, 1) + " ★")
                              include bar
            - var value = 5
            li.d-none.col-sm-12.col-md-6.col-lg-3.mb-3(title=criteria[7].shortName + " " + jadefunctions.roundToDecimalPlace(value, 1) + " ★")
                  include bar